Markdown for imports

In [26]:
import pandas as pd

# Retail Customer Prediction

We are providing a model to predict the product type a customer is buying based off other available attributes such as gender, income, country, and such. Predicting which product a customer is likely to buy based off these inputs will then allow for more personalized ads and more effective marketing by identifying target audiences. Then in turn these predictions can also be used in grocery stores as they anticpate how much to stock certain items based off certain trends related to local demographics.

In [27]:
data = pd.read_csv('retail_data.csv')

In [28]:
print (data.head())
print (data.columns)
print (data['Date'])

   Transaction_ID  Customer_ID                 Name                Email  \
0       8691788.0      37249.0  Michelle Harrington    Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill     Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen    Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller     Mary34@gmail.com
4       4983775.0      27901.0        Debra Coleman  Charles30@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario
4  9.098268e+09    5813 Lori Ports Suite 269     Bristol          England

   Zipcode    Country  ...  Total_Amount Product_Category  Product_Brand  \
0  77985.0    Germany  ...    324.086270         Clothing           Nike
1  99071.0         UK  ...    806.707815      Electronics        Samsung
2  75929.0  Australia  ...   1063.432799            Books  Penguin Books
3  88420.0     Canada  ...   2466.854021       Home Decor     Home Depot
4  48704.0         UK  ...    248.553049          Grocery         Nestle

  Product_Type   Feedback  Shipping_Method Payment_Method Order_Status  \
0       Shorts  Excellent         Same-Day     Debit Card      Shipped
1       Tablet  Excellent         Standard    Credit Card   Processing
2   Children's    Average         Same-Day    Credit Card   Processing
3        Tools  Excellent         Standard         PayPal   Processing
4    Chocolate        Bad         Standard           Cash      Shipped

   Ratings           products
0      5.0     Cycling shorts
1      4.0         Lenovo Tab
2      2.0   Sports equipment
3      4.0      Utility knife
4      1.0  Chocolate cookies

[5 rows x 30 columns]
Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='object')
0          9/18/2023
1         12/31/2023
2          4/26/2023
3           05-08-23
4           01-10-24
             ...
302005     1/20/2024
302006    12/28/2023
302007     2/27/2024
302008      09-03-23
302009      01-08-24
Name: Date, Length: 302010, dtype: object

# MARK DOWN FOR KNOWING UNIQUE VALUES PER ATTRIBUTE

In [29]:



# Get the number of unique values per column (attribute)
unique_counts = data.nunique()

# Print the result
print("Number of unique values per attribute:")
print(unique_counts)

Number of unique values per attribute:
Transaction_ID      294461
Customer_ID          86766
Name                159390
Email                52897
Phone               299295
Address             299329
City                   130
State                   54
Zipcode              93978
Country                  5
Age                     53
Gender                   2
Income                   3
Customer_Segment         3
Date                   366
Year                     2
Month                   12
Time                 83677
Total_Purchases         10
Amount              299297
Total_Amount        299305
Product_Category         5
Product_Brand           18
Product_Type            33
Feedback                 4
Shipping_Method          3
Payment_Method           4
Order_Status             4
Ratings                  5
products               318
dtype: int64

# MARK DOWN FOR LOOKING AT UNIQUE VALUES PER ATTRIBUTE

In [30]:

for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print("-" * 50)  # Print a separator line for better readability

Unique values in 'Transaction_ID':
[8691788. 2174773. 6679610. ... 7157113. 4733214. 8201755.]
--------------------------------------------------
Unique values in 'Customer_ID':
[37249. 69749. 30192. ... 49840. 58286. 29845.]
--------------------------------------------------
Unique values in 'Name':
['Michelle Harrington' 'Kelsey Hill' 'Scott Jensen' ...
 'Caroline Anderson' 'Darlene Gomez' 'Kayla Stanley']
--------------------------------------------------
Unique values in 'Email':
['Ebony39@gmail.com' 'Mark36@gmail.com' 'Shane85@gmail.com' ...
 'Isaiah45@gmail.com' 'Karl9@gmail.com' 'Madeline91@gmail.com']
--------------------------------------------------
Unique values in 'Phone':
[1.41478680e+09 6.85289999e+09 8.36216045e+09 ... 1.11492579e+09
 5.69519790e+09 5.92317182e+09]
--------------------------------------------------
Unique values in 'Address':
['3959 Amanda Burgs' '82072 Dawn Centers' '4133 Young Canyon' ...
 '572 Wagner Forge' '197 Donna Lodge Apt. 673' '6026 Quinn Row Suite 313']
--------------------------------------------------
Unique values in 'City':
['Dortmund' 'Nottingham' 'Geelong' 'Edmonton' 'Bristol' 'Brisbane'
 'Kitchener' 'Munich' 'Wollongong' 'Cologne' 'Portsmouth' 'San Jose'
 'Hamilton' 'Manchester' 'Cardiff' 'Glasgow' 'Hull' 'Cleveland'
 'Southampton' 'Leipzig' 'Cairns' 'London' 'Bielefeld' 'Düsseldorf'
 'Philadelphia' 'Halifax' 'Montreal' 'Mackay' 'Quebec City' 'Barrie'
 'Adelaide' 'Leeds' 'Plymouth' 'Perth' 'Sheffield' 'Frankfurt' 'Toronto'
 'Essen' 'Kelowna' 'Birmingham' 'Ottawa' 'Liverpool' "St. John's" 'Hobart'
 'Atlanta' 'New Orleans' 'Wichita' 'Albury-Wodonga' 'Winnipeg' 'Vancouver'
 'Hamburg' 'Windsor' 'Calgary' 'Newcastle upon Tyne' 'Townsville' 'Oshawa'
 'Houston' 'Berlin' 'Seattle' 'Charlotte' 'New York' 'Milwaukee'
 'Edinburgh' 'Launceston' 'Bochum' 'Münster' 'Bonn' 'Columbus' 'Melbourne'
 'Leicester' 'Fort Worth' 'Toowoomba' 'Victoria' 'Oxford' 'Canberra'
 'Saskatoon' 'Memphis' 'Regina' 'Hanover' 'Long Beach' 'San Francisco'
 'Nuremberg' 'Minneapolis' 'Colorado Springs' 'Duisburg' 'Denver'
 'Bendigo' 'Bremen' 'Boston' 'Tucson' 'Tulsa' 'Portland' 'Kansas City'
 'Brighton' 'Sydney' 'Darwin' 'Nashville' 'Belfast' 'Baltimore'
 'Virginia Beach' 'Arlington' 'Louisville' 'Mesa' 'Las Vegas' 'Dallas'
 'Washington' 'Gold Coast' 'Miami' 'Newcastle' 'San Antonio' 'Fresno'
 'Phoenix' 'Austin' 'Stuttgart' 'Chicago' 'Wuppertal' 'Jacksonville'
 'Ballarat' 'Omaha' 'Oklahoma City' 'San Diego' 'Sacramento' 'Dresden'
 'Raleigh' 'Oakland' 'Indianapolis' 'Detroit' 'Los Angeles' 'El Paso' nan
 'Albuquerque']
--------------------------------------------------
Unique values in 'State':
['Berlin' 'England' 'New South Wales' 'Ontario' 'Virginia' 'Nevada'
 'Colorado' 'Arkansas' 'Texas' 'Oklahoma' 'Connecticut' 'Mississippi' nan
 'Wisconsin' 'Oregon' 'Michigan' 'Alaska' 'New Jersey' 'Wyoming' 'Maine'
 'Idaho' 'Alabama' 'New Hampshire' 'Minnesota' 'Delaware' 'South Carolina'
 'Nebraska' 'New Mexico' 'Arizona' 'Indiana' 'Iowa' 'Illinois' 'Ohio'
 'Georgia' 'New York' 'Pennsylvania' 'Massachusetts' 'Rhode Island'
 'Montana' 'Missouri' 'West Virginia' 'Louisiana' 'Kansas' 'Kentucky'
 'Washington' 'South Dakota' 'California' 'Utah' 'Hawaii' 'North Carolina'
 'Tennessee' 'Maryland' 'Vermont' 'North Dakota' 'Florida']
--------------------------------------------------
Unique values in 'Zipcode':
[77985. 99071. 75929. ... 72352. 35800. 23572.]
--------------------------------------------------
Unique values in 'Country':
['Germany' 'UK' 'Australia' 'Canada' 'USA' nan]
--------------------------------------------------
Unique values in 'Age':
[21. 19. 48. 56. 22. 58. 29. 46. 25. 64. 31. 53. 32. 43. 69. 49. 61. 41.
 38. 59. 20. 67. 50. 26. 66. 24. 54. 28. 34. 65. 40. 68. 36. 57. 27. 35.
 70. 37. 30. 39. 47. 18. 60. 33. 62. 42. 44. 51. 63. 55. 23. 52. nan 45.]
--------------------------------------------------
Unique values in 'Gender':
['Male' 'Female' nan]
--------------------------------------------------
Unique values in 'Income':
['Low' 'High' 'Medium' nan]
--------------------------------------------------
Unique values in 'Customer_Segment':
['Regular' 'Premium' 'New' nan]
--------------------------------------------------
Unique values in 'Date':
['9/18/2023' '12/31/2023' '4/26/2023' '05-08-23' '01-10-24' '9/21/2023'
 '6/26/2023' '3/24/2023' '01-06-24' '10-04-23' '7/20/2023' '6/21/2023'
 '01-02-24' '05-07-23' '11/18/2023' '6/15/2023' '07-01-23' '4/14/2023'
 '02-07-24' '10/24/2023' '3/21/2023' '08-06-23' '02-03-24' '5/31/2023'
 '2/27/2024' '4/20/2023' '06-03-23' '01-07-24' '4/22/2023' '02-06-24'
 '11/26/2023' '5/22/2023' '6/29/2023' '12/16/2023' '04-10-23' '12-12-23'
 '2/16/2024' '02-08-24' '10/29/2023' '2/21/2024' '3/17/2023' '10-06-23'
 '11-05-23' '12/14/2023' '6/19/2023' '3/16/2023' '7/16/2023' '4/19/2023'
 '09-10-23' '3/15/2023' '11-11-23' '7/25/2023' '10-03-23' '10/17/2023'
 '6/27/2023' '2/18/2024' '2/22/2024' '10-08-23' '10-11-23' '9/17/2023'
 '11-04-23' '6/20/2023' '8/31/2023' '2/20/2024' '03-12-23' '7/23/2023'
 '05-06-23' '11/14/2023' '06-06-23' '3/23/2023' '04-08-23' '11/23/2023'
 '8/18/2023' '10/30/2023' '03-04-23' '1/13/2024' '7/22/2023' '7/19/2023'
 '03-02-23' '12-06-23' '11/13/2023' '09-03-23' '11-01-23' '04-04-23'
 '3/22/2023' '12-07-23' '1/26/2024' '6/28/2023' '03-05-23' '12/21/2023'
 '8/25/2023' '03-08-23' '5/16/2023' '11-08-23' '12/17/2023' '11/16/2023'
 '07-03-23' '1/25/2024' '07-10-23' '8/30/2023' '6/24/2023' '1/14/2024'
 '02-05-24' '12/20/2023' '8/23/2023' '02-02-24' '2/23/2024' '1/17/2024'
 '09-05-23' '3/19/2023' '12/15/2023' '09-08-23' '09-11-23' '11/15/2023'
 '12/19/2023' '3/13/2023' '11/28/2023' '12-02-23' '9/14/2023' '7/15/2023'
 '01-08-24' '09-01-23' '3/28/2023' '2/26/2024' '8/24/2023' '09-12-23'
 '12/13/2023' '08-07-23' '06-10-23' '05-05-23' '09-06-23' '1/29/2024'
 '10/14/2023' '5/30/2023' '8/14/2023' '5/17/2023' '3/27/2023' '7/13/2023'
 '2/25/2024' '06-02-23' '01-12-24' '2/17/2024' '5/14/2023' '11/25/2023'
 '9/23/2023' '07-08-23' '06-12-23' '12/28/2023' '6/23/2023' '02-10-24'
 '5/25/2023' '04-01-23' '10/27/2023' '10-05-23' '04-03-23' '12/29/2023'
 '7/29/2023' '01-11-24' '8/27/2023' '2/24/2024' '08-04-23' '11/30/2023'
 '12/27/2023' '6/17/2023' '2/29/2024' '3/14/2023' '9/15/2023' '8/28/2023'
 '08-01-23' '12/23/2023' '12-03-23' '9/20/2023' '5/26/2023' '11/22/2023'
 '08-12-23' '08-05-23' '8/15/2023' '12/18/2023' '05-04-23' '07-02-23'
 '8/29/2023' '12/30/2023' '10/26/2023' '01-09-24' '07-11-23' '4/18/2023'
 '4/25/2023' '12-11-23' '08-09-23' '09-09-23' '10/13/2023' '9/30/2023'
 '2/19/2024' '5/19/2023' '7/28/2023' '02-12-24' '06-09-23' '11/19/2023'
 '3/26/2023' '2/15/2024' '09-02-23' '08-02-23' '03-03-23' '8/13/2023'
 '03-11-23' '12-08-23' '3/30/2023' '05-10-23' '09-07-23' '06-04-23'
 '7/17/2023' '1/31/2024' '11-09-23' '7/18/2023' '1/20/2024' '11-06-23'
 '12-05-23' '10/18/2023' '5/15/2023' '2/28/2024' '10/31/2023' '10-02-23'
 '3/29/2023' '3/18/2023' '4/29/2023' '9/24/2023' '4/27/2023' '5/13/2023'
 '4/23/2023' '10/20/2023' '03-10-23' '11/27/2023' '4/16/2023' '08-10-23'
 '1/30/2024' '6/22/2023' '9/13/2023' '01-03-24' '08-11-23' '12/26/2023'
 '12-04-23' '9/22/2023' '6/18/2023' '5/28/2023' '11-07-23' '04-06-23'
 '05-09-23' '02-01-24' '05-03-23' '02-09-24' '04-11-23' '5/18/2023'
 '9/25/2023' '5/23/2023' '7/31/2023' '10/25/2023' '07-09-23' '02-11-24'
 '11/20/2023' '07-12-23' '1/21/2024' '06-07-23' '11/17/2023' '02-04-24'
 '7/14/2023' '9/27/2023' '3/20/2023' '6/13/2023' '04-07-23' '10/21/2023'
 '01-05-24' '12-10-23' '05-12-23' '1/15/2024' '10-10-23' '03-07-23'
 '09-04-23' '5/24/2023' '8/19/2023' '5/20/2023' '07-04-23' '5/29/2023'
 '08-03-23' '10-07-23' '5/21/2023' '1/19/2024' '6/16/2023' '12/25/2023'
 '06-08-23' '8/16/2023' '9/28/2023' '1/16/2024' '1/28/2024' '10/22/2023'
 '7/26/2023' '07-05-23' '4/21/2023' '10/19/2023' '1/18/2024' '03-01-23'
 '12/24/2023' '04-12-23' '6/30/2023' '10-12-23' '10-01-23' '7/21/2023'
 '11/29/2023' '01-04-24' '4/15/2023' '3/25/2023' '04-05-23' '01-01-24'
 '12-09-23' '2/13/2024' '04-09-23' '03-06-23' '04-02-23' '10-09-23'
 '05-02-23' '4/24/2023' '8/26/2023' '6/14/2023' '11-02-23' '9/26/2023'
 '11-12-23' '06-11-23' '05-01-23' '4/30/2023' '8/22/2023' '10/28/2023'
 '9/19/2023' '4/13/2023' '7/30/2023' '8/17/2023' '07-06-23' '1/22/2024'
 '06-01-23' '08-08-23' '9/29/2023' '12/22/2023' '10/16/2023' '05-11-23'
 '11/24/2023' '9/16/2023' '11/21/2023' '11-03-23' '4/17/2023' '2/14/2024'
 '10/15/2023' '06-05-23' '1/27/2024' '7/27/2023' '6/25/2023' '12-01-23'
 '5/27/2023' '4/28/2023' '8/20/2023' '1/23/2024' '7/24/2023' '07-07-23'
 '10/23/2023' '03-09-23' '11-10-23' '8/21/2023' '3/31/2023' '1/24/2024'
 nan]
--------------------------------------------------
Unique values in 'Year':
[2023. 2024.   nan]
--------------------------------------------------
Unique values in 'Month':
['September' 'December' 'April' 'May' 'January' 'June' 'March' 'October'
 'July' 'November' 'February' 'August' nan]
--------------------------------------------------
Unique values in 'Time':
['22:03:55' '8:42:04' '4:06:29' ... '3:50:01' '21:54:58' '16:56:31']
--------------------------------------------------
Unique values in 'Total_Purchases':
[ 3.  2.  7.  4.  1.  8. 10.  9.  6.  5. nan]
--------------------------------------------------
Unique values in 'Amount':
[108.0287567 403.3539073 354.4775997 ... 193.5494867 415.4162595
 493.6032674]
--------------------------------------------------
Unique values in 'Total_Amount':
[ 324.08627    806.7078147 1063.432799  ...  193.5494867 4154.162595
 2468.016337 ]
--------------------------------------------------
Unique values in 'Product_Category':
['Clothing' 'Electronics' 'Books' 'Home Decor' 'Grocery' nan]
--------------------------------------------------
Unique values in 'Product_Brand':
['Nike' 'Samsung' 'Penguin Books' 'Home Depot' 'Nestle' 'Apple' 'Zara'
 'Random House' 'Coca-Cola' 'Adidas' 'Pepsi' 'IKEA' 'HarperCollins'
 'Bed Bath & Beyond' 'Sony' nan 'Whirepool' 'Mitsubhisi' 'BlueStar']
--------------------------------------------------
Unique values in 'Product_Type':
['Shorts' 'Tablet' "Children's" 'Tools' 'Chocolate' 'Television' 'Shirt'
 'Decorations' 'Non-Fiction' 'Water' 'Snacks' 'T-shirt' 'Literature'
 'Juice' 'Furniture' 'Coffee' 'Bathroom' 'Kitchen' 'Smartphone' 'Shoes'
 'Thriller' 'Soft Drink' 'Laptop' 'Dress' 'Headphones' 'Lighting'
 'Bedding' 'Jacket' 'Fiction' 'Jeans' 'Fridge'
 'Mitsubishi 1.5 Ton 3 Star Split AC' 'BlueStar AC']
--------------------------------------------------
Unique values in 'Feedback':
['Excellent' 'Average' 'Bad' 'Good' nan]
--------------------------------------------------
Unique values in 'Shipping_Method':
['Same-Day' 'Standard' 'Express' nan]
--------------------------------------------------
Unique values in 'Payment_Method':
['Debit Card' 'Credit Card' 'PayPal' 'Cash' nan]
--------------------------------------------------
Unique values in 'Order_Status':
['Shipped' 'Processing' 'Pending' 'Delivered' nan]
--------------------------------------------------
Unique values in 'Ratings':
[ 5.  4.  2.  1.  3. nan]
--------------------------------------------------
Unique values in 'products':
['Cycling shorts' 'Lenovo Tab' 'Sports equipment' 'Utility knife'
 'Chocolate cookies' 'QLED TV' 'Dress shirt' 'Dark chocolate' 'Candles'
 'Screwdriver set' 'Science' 'Bottled water' 'Fruit snacks' 'V-neck tee'
 'Drama' 'Flavored water' 'Samsung Galaxy Tab' 'Orange juice' 'Bookshelf'
 'Affogato' 'Business' 'Self-help' 'Sink' 'Grape juice' 'Stove' 'Huawei P'
 'Amazon Fire Tablet' 'Curtains' 'Pomegranate juice' 'Running shoes'
 'Political thriller' 'Google Pixel' 'Chocolate mousse' 'Vases'
 'Henley shirt' 'Toys' 'Iced tea' 'Apple juice' 'Microsoft Surface Laptop'
 'Desk' 'Bodycon dress' 'Sports headphones' 'Pendant lights' 'Clocks'
 'Comforter' 'Peacoat' 'Bed' 'White chocolate' 'Android TV'
 'Studio headphones' 'Sneakers' 'Sculptures' 'Cream soda' 'History'
 'Pliers' 'Oxfords' 'Short stories' 'Dining table' 'Cooking' 'Wall art'
 'Memoir' 'Maxi dress' 'LG Gram' 'Dishwasher' 'Cranberry juice' 'Crime'
 'Pillowcase set' 'Shower curtain' 'Samsung Galaxy' 'Curved TV'
 'DJ headphones' 'Button-down shirt' 'Purified water' 'Puffer jacket'
 'Fantasy' 'Adventure' 'Popcorn' 'Nuts' 'Detective' 'iPhone' 'LG G'
 'Chocolate-covered fruits' 'Chino shorts' 'Distilled water'
 'Literary fiction' 'Grape soda' 'T-shirt' 'Cheese snacks' 'Towel rack'
 'Blanket' 'Coffee table' 'OLED TV' 'Pineapple juice' 'HDR TV' 'Travel'
 'Crew neck tee' 'Grapefruit juice' 'Xiaomi Mi' 'Root beer'
 'Track lighting' 'Razer Blade' 'Samsung Notebook' 'Milk chocolate'
 'Varsity jacket' 'Decorative pillows' 'Crop top' 'Clothing'
 'Lemon-lime soda' 'Dresser' 'Ceiling lights' 'Loafers' 'LCD TV' 'Bathtub'
 'Dystopian' 'Bed sheet set' 'Sheath dress' 'Over-ear headphones'
 'Electric kettle' 'Mirror' 'Puzzles' 'Polo shirt' 'On-ear headphones'
 'Horror' 'Art supplies' 'Bootcut jeans' 'Sofa' 'Sparkling water'
 'Cargo shorts' 'Microsoft Surface' 'Chocolate bars' 'Essays' 'Tank top'
 'Food processor' 'Mirrors' 'Health' 'iPad' 'Energy drink'
 'Bermuda shorts' 'A-line dress' 'Asus ZenPad' 'Scoop neck tee' 'Action'
 'Henley tee' 'Spring water' 'High heels' 'Cola' 'Nokia' 'Wardrobe'
 'Drill' 'Blender' 'Alkaline water' 'Picture frames' 'Shift dress'
 'Espadrilles' 'Psychology' 'Blazer' 'Refrigerator' 'Truffles'
 'Cropped jeans' 'TV stand' 'Off-the-shoulder tee' 'Plasma TV' 'Americano'
 'Khaki shorts' 'Saw' 'Contemporary literature' 'Coffee maker' 'Smart TV'
 'Denim jacket' 'Raglan tee' 'Huawei MediaPad' 'Nightstand' 'Romance'
 'Sandals' 'Anthologies' 'Mattress topper' 'Acer Iconia Tab'
 'Caulking gun' 'Psychological thriller' 'Mineral water' 'Acer Swift'
 'Throw pillow' 'Long-sleeve tee' 'Games' 'Ginger ale' 'Motorola Moto'
 'Straight-leg jeans' 'Skorts' 'Denim shorts' 'Sony Xperia Tablet'
 'Board shorts' 'Table lamps' 'Rugs' 'LED TV' 'Fruit punch' 'Hammer'
 'Bomber jacket' 'Plain tee' 'Boots' 'Duvet cover' 'Lenovo ThinkPad'
 'Chocolate-covered nuts' 'Graphic tee' 'Wall sconces' 'Sweatshirt'
 'Instant coffee' 'Mixed fruit juice' 'Google Pixel Slate'
 'Distressed jeans' 'Desk lamps' 'Mango juice' 'Thriller'
 'Under cabinet lighting' 'Historical fiction' 'Soap dispenser' 'Latte'
 'Tomato juice' 'Artesian water' 'Pretzels' 'Athletic shorts'
 'Asus ZenBook' 'OnePlus' 'High-waisted jeans' 'Cappuccino' 'Plush toys'
 'Slippers' 'Quilt' 'Sony Xperia' 'Techno-thriller' 'Microwave'
 'Coconut water' 'Flare jeans' 'Building blocks' 'Wireless headphones'
 'Science fiction' '4K TV' 'Ground coffee' 'Beef jerky' 'Chocolate fondue'
 'Flip flops' 'Toilet' 'Books' 'MacBook' 'Flannel shirt' 'Mystery'
 'Wrench' 'Biography' 'Hoodie' 'Espresso' 'Orange soda' 'Casual dress'
 'Floor lamps' 'Wide-leg jeans' 'Bluetooth headphones' 'Mocha'
 'Dust ruffle' 'Wrap dress' 'Gaming headphones'
 'Noise-cancelling headphones' 'Suspense' 'Blouse' 'Oven'
 'Toilet paper holder' 'Skinny jeans' 'Fit and flare dress'
 'Educational kits' 'Toaster' 'Toothbrush holder' 'Parka' 'Chips'
 'Coffee beans' 'HP Spectre' 'Macchiato' 'Level' 'Recessed lighting'
 'Granola bars' 'Windbreaker' 'Trail mix' 'Boyfriend jeans' 'Trench coat'
 'Non-fiction literature' 'Leather jacket' 'Crackers' 'Modern literature'
 'Swim trunks' 'Dell XPS' 'In-ear headphones' 'Cocktail dress'
 'Tape measure' 'Poetry' 'Low-rise jeans' 'Chandeliers' 'Bed skirt'
 'Legal thriller' 'Classic literature' 'Shower' 'Sundress' 'Mini fridge'
 'Counter-depth refrigerator' 'Smart refrigerator'
 'Stainless steel refrigerator' 'Top-freezer refrigerator'
 'French door refrigerator' 'Side-by-side refrigerator'
 'Compact refrigerator' 'Black refrigerator' 'Bottom-freezer refrigerator'
 'Central AC' 'Ductless AC' 'Portable AC' 'Air conditioner'
 'Floor-standing AC' 'Split AC' 'Window AC' 'Inverter AC' 'Cassette AC'
 'Mini-split AC' 'Package AC']
--------------------------------------------------

# MARK DOWN FOR LOOKING AT DISTRIBUTION OF DATA, MAY NEED TO COMBINE WITH CELL ABOVE

In [31]:
for column in data.columns:
    # Get the counts of unique values and normalize them to get percentages
    value_counts = data[column].value_counts(normalize=True) * 100
    
    print(f"Percentage of unique values in '{column}':")
    print(value_counts)
    print("-" * 50)  # Print a separator line for better readability

Percentage of unique values in 'Transaction_ID':
Transaction_ID
6145934.0    0.001326
3823276.0    0.000994
9918529.0    0.000994
3859425.0    0.000994
7257551.0    0.000994
               ...
4466731.0    0.000331
1234470.0    0.000331
7157113.0    0.000331
4733214.0    0.000331
2174773.0    0.000331
Name: proportion, Length: 294461, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Customer_ID':
Customer_ID
99355.0    0.004309
48453.0    0.004309
90983.0    0.004309
49274.0    0.004309
60341.0    0.004309
             ...
73258.0    0.000331
66041.0    0.000331
78480.0    0.000331
42671.0    0.000331
50893.0    0.000331
Name: proportion, Length: 86766, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Name':
Name
Michael Smith        0.047741
Michael Johnson      0.036800
Michael Jones        0.033816
Christopher Smith    0.030833
Michael Williams     0.030170
                       ...
Zachary Glenn        0.000332
Zachary Burnett      0.000332
Renee Blackwell      0.000332
Joann Rodriguez      0.000332
Devin Brooks         0.000332
Name: proportion, Length: 159390, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Email':
Email
Michael59@gmail.com    0.030829
Michael95@gmail.com    0.030498
Michael17@gmail.com    0.029835
Michael39@gmail.com    0.028840
Michael58@gmail.com    0.027846
                         ...
Warren87@gmail.com     0.000331
Gordon86@gmail.com     0.000331
Eileen96@gmail.com     0.000331
Maurice66@gmail.com    0.000331
Jasmin26@gmail.com     0.000331
Name: proportion, Length: 52897, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Phone':
Phone
6.445576e+09    0.000663
7.811789e+09    0.000663
6.435965e+09    0.000663
4.120365e+09    0.000663
3.917201e+09    0.000663
                  ...
2.921631e+09    0.000332
4.763757e+09    0.000332
1.114926e+09    0.000332
5.695198e+09    0.000332
3.292677e+09    0.000332
Name: proportion, Length: 299295, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Address':
Address
6135 Tiffany Cliff Apt. 861    0.000663
6001 Taylor Unions             0.000663
313 Shane Hollow Apt. 210      0.000663
29041 Beck Junction            0.000663
2537 Collins Vista Apt. 444    0.000663
                                 ...
613 Diaz Flat                  0.000331
5558 Matthew Flats Apt. 496    0.000331
572 Wagner Forge               0.000331
197 Donna Lodge Apt. 673       0.000331
82072 Dawn Centers             0.000331
Name: proportion, Length: 299329, dtype: float64
--------------------------------------------------
Percentage of unique values in 'City':
City
Chicago          7.175191
Portsmouth       6.671151
San Francisco    4.038945
Frankfurt        3.374182
Boston           3.120340
                   ...
Charlotte        0.285656
Arlington        0.283667
Denver           0.283667
Philadelphia     0.278365
San Diego        0.276045
Name: proportion, Length: 130, dtype: float64
--------------------------------------------------
Percentage of unique values in 'State':
State
England            20.899218
Berlin             17.506438
New South Wales    15.019107
Ontario            15.017449
Connecticut         7.177964
Maine               4.041043
Georgia             3.149846
Kansas              1.828131
New Mexico          1.723069
New York            0.330098
Maryland            0.324795
Pennsylvania        0.320155
Texas               0.315846
California          0.315515
Nevada              0.314521
South Carolina      0.313195
Minnesota           0.313195
West Virginia       0.312864
Iowa                0.312864
Ohio                0.311869
Illinois            0.311869
Mississippi         0.310875
Hawaii              0.310212
Louisiana           0.307561
Utah                0.306235
Michigan            0.305904
New Jersey          0.304247
Virginia            0.304247
Alabama             0.301264
Montana             0.300269
Oregon              0.300269
Wyoming             0.300269
South Dakota        0.299607
Delaware            0.299607
Tennessee           0.299275
North Carolina      0.298944
Wisconsin           0.298612
Missouri            0.298612
Florida             0.298612
Nebraska            0.298281
Rhode Island        0.298281
Kentucky            0.297949
Indiana             0.297287
Arkansas            0.296955
New Hampshire       0.296955
Alaska              0.293972
Vermont             0.293641
Colorado            0.292647
North Dakota        0.291984
Washington          0.291321
Idaho               0.290658
Massachusetts       0.288670
Arizona             0.286018
Oklahoma            0.281710
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Zipcode':
Zipcode
68029.0    0.007624
2826.0     0.006630
2891.0     0.006630
68005.0    0.006630
68070.0    0.006630
             ...
99417.0    0.000331
29716.0    0.000331
26064.0    0.000331
41703.0    0.000331
7510.0     0.000331
Name: proportion, Length: 93978, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Country':
Country
USA          31.558068
UK           20.900845
Germany      17.508509
Australia    15.019272
Canada       15.013306
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Age':
Age
20.0    11.488982
46.0    10.190600
26.0     8.173617
22.0     7.627627
34.0     6.842104
23.0     5.974417
19.0     5.581158
21.0     2.668328
24.0     2.050444
55.0     1.812568
48.0     1.526652
70.0     0.905787
43.0     0.892866
59.0     0.890216
36.0     0.888559
68.0     0.884252
33.0     0.883589
64.0     0.876963
44.0     0.875638
56.0     0.872988
30.0     0.870337
65.0     0.870006
60.0     0.868018
62.0     0.867024
47.0     0.864705
40.0     0.863380
41.0     0.859736
25.0     0.859404
50.0     0.859073
35.0     0.857416
52.0     0.857085
28.0     0.856754
58.0     0.855760
39.0     0.855760
69.0     0.855097
38.0     0.854103
42.0     0.854103
57.0     0.853772
61.0     0.853109
63.0     0.852447
37.0     0.852116
49.0     0.851784
27.0     0.851784
67.0     0.845158
51.0     0.844827
45.0     0.844164
53.0     0.843502
29.0     0.841514
32.0     0.838201
54.0     0.833894
18.0     0.821636
66.0     0.819648
31.0     0.817329
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Gender':
Gender
Male      62.182086
Female    37.817914
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Income':
Income
Medium    43.162535
Low       31.904083
High      24.933382
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Customer_Segment':
Customer_Segment
Regular    48.450438
New        30.214881
Premium    21.334681
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Date':
Date
11/22/2023    0.301673
2/22/2024     0.299684
07-01-23      0.297032
7/30/2023     0.297032
12/28/2023    0.296369
                ...
12/27/2023    0.250289
5/24/2023     0.249958
12/21/2023    0.249626
11-02-23      0.248632
12/17/2023    0.240012
Name: proportion, Length: 366, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Year':
Year
2023.0    83.488696
2024.0    16.511304
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Month':
Month
April        13.687748
January      12.356456
August       10.940654
July         10.236067
May           9.389303
March         6.343935
October       6.338633
December      6.278647
September     6.182536
November      6.103328
June          6.091397
February      6.051296
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Time':
Time
2:16:01     0.004641
15:54:27    0.004641
2:55:36     0.004641
7:45:07     0.004641
2:18:09     0.004309
              ...
6:47:54     0.000331
13:54:25    0.000331
12:49:44    0.000331
18:18:14    0.000331
17:12:59    0.000331
Name: proportion, Length: 83677, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Purchases':
Total_Purchases
5.0     10.582167
2.0     10.577857
1.0     10.573216
3.0     10.562608
4.0     10.467464
8.0      9.515032
6.0      9.459670
9.0      9.433149
7.0      9.429834
10.0     9.399003
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Amount':
Amount
296.542326    0.000663
47.835704     0.000663
298.520071    0.000663
112.731674    0.000663
454.852896    0.000663
                ...
446.035498    0.000332
312.675052    0.000332
193.549487    0.000332
415.416260    0.000332
403.353907    0.000332
Name: proportion, Length: 299297, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Amount':
Total_Amount
1177.654223    0.000663
2198.252948    0.000663
1561.495184    0.000663
2205.159123    0.000663
1366.645119    0.000663
                 ...
2676.212987    0.000331
1563.375261    0.000331
193.549487     0.000331
4154.162595    0.000331
2630.714413    0.000331
Name: proportion, Length: 299305, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Category':
Product_Category
Electronics    23.596165
Grocery        22.134579
Clothing       18.142559
Books          18.103120
Home Decor     18.023578
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Brand':
Product_Brand
Pepsi                10.039473
Coca-Cola             6.095536
Samsung               6.090233
Zara                  6.088245
HarperCollins         6.082611
Sony                  6.071342
Bed Bath & Beyond     6.046485
Adidas                6.044497
Home Depot            6.013675
Nike                  6.011686
Penguin Books         6.011355
Random House          6.006052
Nestle                6.001743
Apple                 5.989812
IKEA                  5.963630
Whirepool             2.467446
Mitsubhisi            2.228490
BlueStar              0.747691
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Type':
Product_Type
Water                                 8.098738
Smartphone                            6.115029
Non-Fiction                           6.017019
Fiction                               5.974968
Juice                                 4.049535
Television                            4.038608
T-shirt                               4.033310
Decorations                           4.032317
Shoes                                 4.019734
Tablet                                4.003510
Soft Drink                            3.985299
Furniture                             3.963114
Fridge                                2.465150
Mitsubishi 1.5 Ton 3 Star Split AC    2.226416
Thriller                              2.073441
Kitchen                               2.062183
Coffee                                2.045628
Children's                            2.035363
Jeans                                 2.031059
Shirt                                 2.030396
Dress                                 2.027416
Shorts                                2.015496
Headphones                            2.013178
Lighting                              2.011523
Chocolate                             2.003576
Literature                            2.003576
Bathroom                              1.995298
Bedding                               1.990331
Jacket                                1.988014
Laptop                                1.980398
Tools                                 1.969471
Snacks                                1.953909
BlueStar AC                           0.746995
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Feedback':
Feedback
Excellent    33.381816
Good         31.507557
Average      20.764944
Bad          14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Shipping_Method':
Shipping_Method
Same-Day    34.526126
Express     33.929453
Standard    31.544421
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Payment_Method':
Payment_Method
Credit Card    29.868120
Debit Card     25.451340
Cash           24.463646
PayPal         20.216895
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Order_Status':
Order_Status
Delivered     43.227239
Shipped       21.547179
Processing    18.954188
Pending       16.271394
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Ratings':
Ratings
4.0    32.490243
2.0    20.764944
5.0    16.616527
3.0    15.782603
1.0    14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'products':
products
Spring water       0.830436
Bottled water      0.826463
Mystery            0.826463
Artesian water     0.820503
Distilled water    0.819509
                     ...
Screwdriver set    0.185093
Towel rack         0.184762
Razer Blade        0.184100
Parka              0.181782
Package AC         0.073839
Name: proportion, Length: 318, dtype: float64
--------------------------------------------------

# MARK DOWN FOR IDENTIFYING NANS

In [32]:
# Filter rows that contain at least one NaN value
rows_with_nans = data[data.isna().any(axis=1)]

# Print the rows with NaN values
print("Rows with NaN values:")
print(rows_with_nans)
print ("NUM ROWS", len(rows_with_nans))

print ("NUM RECORDS: ", len(data))

Rows with NaN values:
        Transaction_ID  Customer_ID               Name                  Email  \
99           9823195.0      14549.0   Danielle Bennett      James20@gmail.com
109          7379891.0      47846.0           Mary Kim  Katherine73@gmail.com
113          7018142.0      67530.0  Mathew Fitzgerald       Erik18@gmail.com
123          7361679.0      47748.0       Alexis Smith      Karen91@gmail.com
142          5050125.0      14196.0    Michael Perkins    Tabitha57@gmail.com
...                ...          ...                ...                    ...
301738       4008043.0      78992.0         David King      Carla27@gmail.com
301875       2629026.0      73981.0     Anthony Nelson      Julie40@gmail.com
301883       2691972.0      39280.0        Chad Harvey    Timothy73@gmail.com
301894       1105898.0      83447.0      Richard Smith    William82@gmail.com
301998       9972131.0          NaN        Adam Knight     Joseph61@gmail.com

               Phone                        Address          City  \
99      2.200038e+09               9980 Bryant Road    Portsmouth
109     3.268643e+09               5028 Tammy Brook    Portsmouth
113              NaN              4169 Robert Lodge    Portsmouth
123     9.388218e+09              69821 Beard Locks    Portsmouth
142     8.979005e+09              432 Raven Terrace    Portsmouth
...              ...                            ...           ...
301738  7.162848e+09                1950 Karen Port        Darwin
301875  9.888564e+09           01186 Gonzalez Wells   New Orleans
301883  8.547521e+09  17808 Shah Causeway Suite 015  Philadelphia
301894  6.751289e+09       2181 Hill Shore Apt. 353    Long Beach
301998  4.260772e+09                 505 Brown Club          Bonn

                  State  Zipcode    Country  ...  Total_Amount  \
99              England  84238.0         UK  ...    418.025349
109             England  97711.0         UK  ...   1912.436648
113             England  67486.0         UK  ...   1246.239758
123             England  25474.0         UK  ...   3002.684416
142             England  69649.0         UK  ...    253.054157
...                 ...      ...        ...  ...           ...
301738  New South Wales  33566.0  Australia  ...    353.690926
301875     Pennsylvania  17353.0        USA  ...    420.831710
301883         New York  12734.0        USA  ...   4588.640335
301894           Nevada  89865.0        USA  ...    463.215415
301998           Berlin  42754.0    Germany  ...   3720.100576

       Product_Category  Product_Brand Product_Type   Feedback  \
99                Books  Penguin Books      Fiction  Excellent
109             Grocery      Coca-Cola        Juice        NaN
113            Clothing         Adidas      T-shirt  Excellent
123            Clothing         Adidas       Jacket        NaN
142            Clothing           Zara        Dress    Average
...                 ...            ...          ...        ...
301738            Books  HarperCollins  Non-Fiction        Bad
301875       Home Decor     Home Depot  Decorations        Bad
301883      Electronics          Apple       Laptop       Good
301894            Books  HarperCollins  Non-Fiction    Average
301998      Electronics           Sony   Smartphone  Excellent

        Shipping_Method Payment_Method Order_Status  Ratings          products
99              Express           Cash   Processing      5.0  Literary fiction
109            Same-Day     Debit Card    Delivered      NaN   Pineapple juice
113            Standard         PayPal   Processing      4.0     Crew neck tee
123            Standard         PayPal      Pending      NaN    Varsity jacket
142                 NaN         PayPal      Pending      2.0      Sheath dress
...                 ...            ...          ...      ...               ...
301738         Standard           Cash      Pending      1.0            Memoir
301875         Same-Day           Cash    Delivered      1.0           Candles
301883         Same-Day           Cash   Processing      4.0  Samsung Notebook
301894          Express           Cash      Pending      2.0           Science
301998         Same-Day           Cash   Processing      4.0            iPhone

[8099 rows x 30 columns]
NUM ROWS 8099
NUM RECORDS:  302010

In [25]:
""""
Number of unique values per attribute:
City                   130
State                   54
Zipcode              93978
Country                  5
Age                     53
Gender                   2
Income                   3
Customer_Segment         3
Date                   366
Year                     2
Month                   12
Time                 83677
Total_Purchases         10
Amount              299297
Total_Amount        299305
Product_Category         5
Product_Brand           18
Product_Type            33
Feedback                 4
Shipping_Method          3
Payment_Method           4
Order_Status             4
Ratings                  5
products               318
dtype: int64

Unique values in 'City':
['Dortmund' 'Nottingham' 'Geelong' 'Edmonton' 'Bristol' 'Brisbane'
 'Kitchener' 'Munich' 'Wollongong' 'Cologne' 'Portsmouth' 'San Jose'
 'Hamilton' 'Manchester' 'Cardiff' 'Glasgow' 'Hull' 'Cleveland'
 'Southampton' 'Leipzig' 'Cairns' 'London' 'Bielefeld' 'Düsseldorf'
 'Philadelphia' 'Halifax' 'Montreal' 'Mackay' 'Quebec City' 'Barrie'
 'Adelaide' 'Leeds' 'Plymouth' 'Perth' 'Sheffield' 'Frankfurt' 'Toronto'
 'Essen' 'Kelowna' 'Birmingham' 'Ottawa' 'Liverpool' "St. John's" 'Hobart'
 'Atlanta' 'New Orleans' 'Wichita' 'Albury-Wodonga' 'Winnipeg' 'Vancouver'
 'Hamburg' 'Windsor' 'Calgary' 'Newcastle upon Tyne' 'Townsville' 'Oshawa'
 'Houston' 'Berlin' 'Seattle' 'Charlotte' 'New York' 'Milwaukee'
 'Edinburgh' 'Launceston' 'Bochum' 'Münster' 'Bonn' 'Columbus' 'Melbourne'
 'Leicester' 'Fort Worth' 'Toowoomba' 'Victoria' 'Oxford' 'Canberra'
 'Saskatoon' 'Memphis' 'Regina' 'Hanover' 'Long Beach' 'San Francisco'
 'Nuremberg' 'Minneapolis' 'Colorado Springs' 'Duisburg' 'Denver'
 'Bendigo' 'Bremen' 'Boston' 'Tucson' 'Tulsa' 'Portland' 'Kansas City'
 'Brighton' 'Sydney' 'Darwin' 'Nashville' 'Belfast' 'Baltimore'
 'Virginia Beach' 'Arlington' 'Louisville' 'Mesa' 'Las Vegas' 'Dallas'
 'Washington' 'Gold Coast' 'Miami' 'Newcastle' 'San Antonio' 'Fresno'
 'Phoenix' 'Austin' 'Stuttgart' 'Chicago' 'Wuppertal' 'Jacksonville'
 'Ballarat' 'Omaha' 'Oklahoma City' 'San Diego' 'Sacramento' 'Dresden'
 'Raleigh' 'Oakland' 'Indianapolis' 'Detroit' 'Los Angeles' 'El Paso' nan
 'Albuquerque']
--------------------------------------------------
Unique values in 'State':
...
 'Central AC' 'Ductless AC' 'Portable AC' 'Air conditioner'
 'Floor-standing AC' 'Split AC' 'Window AC' 'Inverter AC' 'Cassette AC'
 'Mini-split AC' 'Package AC']
--------------------------------------------------
Output is truncated. View as a scrollable element or open in a text editor. Adjust cell output settings...
Percentage of unique values in 'City':
City
Chicago          7.175191
Portsmouth       6.671151
San Francisco    4.038945
Frankfurt        3.374182
Boston           3.120340
                   ...   
Charlotte        0.285656
Arlington        0.283667
Denver           0.283667
Philadelphia     0.278365
San Diego        0.276045
Name: proportion, Length: 130, dtype: float64
--------------------------------------------------
Percentage of unique values in 'State':
State
England            20.899218
Berlin             17.506438
New South Wales    15.019107
Ontario            15.017449
Connecticut         7.177964
Maine               4.041043
Georgia             3.149846
Kansas              1.828131
New Mexico          1.723069
New York            0.330098
Maryland            0.324795
Pennsylvania        0.320155
Texas               0.315846
California          0.315515
Nevada              0.314521
South Carolina      0.313195
Minnesota           0.313195
West Virginia       0.312864
Iowa                0.312864
Ohio                0.311869
Illinois            0.311869
Mississippi         0.310875
Hawaii              0.310212
Louisiana           0.307561
Utah                0.306235
Michigan            0.305904
New Jersey          0.304247
Virginia            0.304247
Alabama             0.301264
Montana             0.300269
Oregon              0.300269
Wyoming             0.300269
South Dakota        0.299607
Delaware            0.299607
Tennessee           0.299275
North Carolina      0.298944
Wisconsin           0.298612
Missouri            0.298612
Florida             0.298612
Nebraska            0.298281
Rhode Island        0.298281
Kentucky            0.297949
Indiana             0.297287
Arkansas            0.296955
New Hampshire       0.296955
Alaska              0.293972
Vermont             0.293641
Colorado            0.292647
North Dakota        0.291984
Washington          0.291321
Idaho               0.290658
Massachusetts       0.288670
Arizona             0.286018
Oklahoma            0.281710
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Zipcode':
Zipcode
68029.0    0.007624
2826.0     0.006630
2891.0     0.006630
68005.0    0.006630
68070.0    0.006630
             ...   
99417.0    0.000331
29716.0    0.000331
26064.0    0.000331
41703.0    0.000331
7510.0     0.000331
Name: proportion, Length: 93978, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Country':
Country
USA          31.558068
UK           20.900845
Germany      17.508509
Australia    15.019272
Canada       15.013306
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Age':
Age
20.0    11.488982
46.0    10.190600
26.0     8.173617
22.0     7.627627
34.0     6.842104
23.0     5.974417
19.0     5.581158
21.0     2.668328
24.0     2.050444
55.0     1.812568
48.0     1.526652
70.0     0.905787
43.0     0.892866
59.0     0.890216
36.0     0.888559
68.0     0.884252
33.0     0.883589
64.0     0.876963
44.0     0.875638
56.0     0.872988
30.0     0.870337
65.0     0.870006
60.0     0.868018
62.0     0.867024
47.0     0.864705
40.0     0.863380
41.0     0.859736
25.0     0.859404
50.0     0.859073
35.0     0.857416
52.0     0.857085
28.0     0.856754
58.0     0.855760
39.0     0.855760
69.0     0.855097
38.0     0.854103
42.0     0.854103
57.0     0.853772
61.0     0.853109
63.0     0.852447
37.0     0.852116
49.0     0.851784
27.0     0.851784
67.0     0.845158
51.0     0.844827
45.0     0.844164
53.0     0.843502
29.0     0.841514
32.0     0.838201
54.0     0.833894
18.0     0.821636
66.0     0.819648
31.0     0.817329
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Gender':
Gender
Male      62.182086
Female    37.817914
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Income':
Income
Medium    43.162535
Low       31.904083
High      24.933382
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Customer_Segment':
Customer_Segment
Regular    48.450438
New        30.214881
Premium    21.334681
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Date':
Date
11/22/2023    0.301673
2/22/2024     0.299684

_IncompleteInputError: incomplete input (672966760.py, line 1)

In [ ]:
"""07-01-23      0.297032
7/30/2023     0.297032
12/28/2023    0.296369
                ...   
12/27/2023    0.250289
5/24/2023     0.249958
12/21/2023    0.249626
11-02-23      0.248632
12/17/2023    0.240012
Name: proportion, Length: 366, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Year':
Year
2023.0    83.488696
2024.0    16.511304
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Month':
Month
April        13.687748
January      12.356456
August       10.940654
July         10.236067
May           9.389303
March         6.343935
October       6.338633
December      6.278647
September     6.182536
November      6.103328
June          6.091397
February      6.051296
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Time':
Time
2:16:01     0.004641
15:54:27    0.004641
2:55:36     0.004641
7:45:07     0.004641
2:18:09     0.004309
              ...   
6:47:54     0.000331
13:54:25    0.000331
12:49:44    0.000331
18:18:14    0.000331
17:12:59    0.000331
Name: proportion, Length: 83677, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Purchases':
Total_Purchases
5.0     10.582167
2.0     10.577857
1.0     10.573216
3.0     10.562608
4.0     10.467464
8.0      9.515032
6.0      9.459670
9.0      9.433149
7.0      9.429834
10.0     9.399003
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Amount':
Amount
296.542326    0.000663
47.835704     0.000663
298.520071    0.000663
112.731674    0.000663
454.852896    0.000663
                ...   
446.035498    0.000332
312.675052    0.000332
193.549487    0.000332
415.416260    0.000332
403.353907    0.000332
Name: proportion, Length: 299297, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Amount':
Total_Amount
1177.654223    0.000663
2198.252948    0.000663
1561.495184    0.000663
2205.159123    0.000663
1366.645119    0.000663
                 ...   
2676.212987    0.000331
1563.375261    0.000331
193.549487     0.000331
4154.162595    0.000331
2630.714413    0.000331
Name: proportion, Length: 299305, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Category':
Product_Category
Electronics    23.596165
Grocery        22.134579
Clothing       18.142559
Books          18.103120
Home Decor     18.023578
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Brand':
Product_Brand
Pepsi                10.039473
Coca-Cola             6.095536
Samsung               6.090233
Zara                  6.088245
HarperCollins         6.082611
Sony                  6.071342
Bed Bath & Beyond     6.046485
Adidas                6.044497
Home Depot            6.013675
Nike                  6.011686
Penguin Books         6.011355
Random House          6.006052
Nestle                6.001743
Apple                 5.989812
IKEA                  5.963630
Whirepool             2.467446
Mitsubhisi            2.228490
BlueStar              0.747691
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Type':
Product_Type
Water                                 8.098738
Smartphone                            6.115029
Non-Fiction                           6.017019
Fiction                               5.974968
Juice                                 4.049535
Television                            4.038608
T-shirt                               4.033310
Decorations                           4.032317
Shoes                                 4.019734
Tablet                                4.003510
Soft Drink                            3.985299
Furniture                             3.963114
Fridge                                2.465150
Mitsubishi 1.5 Ton 3 Star Split AC    2.226416
Thriller                              2.073441
Kitchen                               2.062183
Coffee                                2.045628
Children's                            2.035363
Jeans                                 2.031059
Shirt                                 2.030396
Dress                                 2.027416
Shorts                                2.015496
Headphones                            2.013178
Lighting                              2.011523
Chocolate                             2.003576
Literature                            2.003576
Bathroom                              1.995298
Bedding                               1.990331
Jacket                                1.988014
Laptop                                1.980398
Tools                                 1.969471
Snacks                                1.953909
BlueStar AC                           0.746995
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Feedback':
Feedback
Excellent    33.381816
Good         31.507557
Average      20.764944
Bad          14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Shipping_Method':
Shipping_Method
Same-Day    34.526126
Express     33.929453
Standard    31.544421
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Payment_Method':
Payment_Method
Credit Card    29.868120
Debit Card     25.451340
Cash           24.463646
PayPal         20.216895
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Order_Status':
Order_Status
Delivered     43.227239
Shipped       21.547179
Processing    18.954188
Pending       16.271394
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Ratings':
Ratings
4.0    32.490243
2.0    20.764944
5.0    16.616527
3.0    15.782603
1.0    14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'products':
products
Spring water       0.830436
Bottled water      0.826463
Mystery            0.826463
Artesian water     0.820503
Distilled water    0.819509
                     ...   
Screwdriver set    0.185093
Towel rack         0.184762
Razer Blade        0.184100
Parka              0.181782
Package AC         0.073839
Name: proportion, Length: 318, dtype: float64
--------------------------------------------------"""

"07-01-23      0.297032\n7/30/2023     0.297032\n12/28/2023    0.296369\n                ...   \n12/27/2023    0.250289\n5/24/2023     0.249958\n12/21/2023    0.249626\n11-02-23      0.248632\n12/17/2023    0.240012\nName: proportion, Length: 366, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Year':\nYear\n2023.0    83.488696\n2024.0    16.511304\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Month':\nMonth\nApril        13.687748\nJanuary      12.356456\nAugust       10.940654\nJuly         10.236067\nMay           9.389303\nMarch         6.343935\nOctober       6.338633\nDecember      6.278647\nSeptember     6.182536\nNovember      6.103328\nJune          6.091397\nFebruary      6.051296\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Time':\nTime\n2:16:01     0.004641\n15:54:27    0.004641\n2:55:36     0.004641\n7:45:07     0.004641\n2:18:09     0.004309\n              ...   \n6:47:54     0.000331\n13:54:25    0.000331\n12:49:44    0.000331\n18:18:14    0.000331\n17:12:59    0.000331\nName: proportion, Length: 83677, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Total_Purchases':\nTotal_Purchases\n5.0     10.582167\n2.0     10.577857\n1.0     10.573216\n3.0     10.562608\n4.0     10.467464\n8.0      9.515032\n6.0      9.459670\n9.0      9.433149\n7.0      9.429834\n10.0     9.399003\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Amount':\nAmount\n296.542326    0.000663\n47.835704     0.000663\n298.520071    0.000663\n112.731674    0.000663\n454.852896    0.000663\n                ...   \n446.035498    0.000332\n312.675052    0.000332\n193.549487    0.000332\n415.416260    0.000332\n403.353907    0.000332\nName: proportion, Length: 299297, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Total_Amount':\nTotal_Amount\n1177.654223    0.000663\n2198.252948    0.000663\n1561.495184    0.000663\n2205.159123    0.000663\n1366.645119    0.000663\n                 ...   \n2676.212987    0.000331\n1563.375261    0.000331\n193.549487     0.000331\n4154.162595    0.000331\n2630.714413    0.000331\nName: proportion, Length: 299305, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Product_Category':\nProduct_Category\nElectronics    23.596165\nGrocery        22.134579\nClothing       18.142559\nBooks          18.103120\nHome Decor     18.023578\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Product_Brand':\nProduct_Brand\nPepsi                10.039473\nCoca-Cola             6.095536\nSamsung               6.090233\nZara                  6.088245\nHarperCollins         6.082611\nSony                  6.071342\nBed Bath & Beyond     6.046485\nAdidas                6.044497\nHome Depot            6.013675\nNike                  6.011686\nPenguin Books         6.011355\nRandom House          6.006052\nNestle                6.001743\nApple                 5.989812\nIKEA                  5.963630\nWhirepool             2.467446\nMitsubhisi            2.228490\nBlueStar              0.747691\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Product_Type':\nProduct_Type\nWater                                 8.098738\nSmartphone                            6.115029\nNon-Fiction                           6.017019\nFiction                               5.974968\nJuice                                 4.049535\nTelevision                            4.038608\nT-shirt                               4.033310\nDecorations                           4.032317\nShoes                                 4.019734\nTablet                                4.003510\nSoft Drink                            3.985299\nFurniture                             3.963114\nFridge                                2.465150\nMitsubishi 1.5 Ton 3 Star Split AC    2.226416\nThriller                              2.073441\nKitchen                               2.062183\nCoffee                                2.045628\nChildren's                            2.035363\nJeans                                 2.031059\nShirt                                 2.030396\nDress                                 2.027416\nShorts                                2.015496\nHeadphones                            2.013178\nLighting                              2.011523\nChocolate                             2.003576\nLiterature                            2.003576\nBathroom                              1.995298\nBedding                               1.990331\nJacket                                1.988014\nLaptop                                1.980398\nTools                                 1.969471\nSnacks                                1.953909\nBlueStar AC                           0.746995\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Feedback':\nFeedback\nExcellent    33.381816\nGood         31.507557\nAverage      20.764944\nBad          14.345683\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Shipping_Method':\nShipping_Method\nSame-Day    34.526126\nExpress     33.929453\nStandard    31.544421\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Payment_Method':\nPayment_Method\nCredit Card    29.868120\nDebit Card     25.451340\nCash           24.463646\nPayPal         20.216895\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Order_Status':\nOrder_Status\nDelivered     43.227239\nShipped       21.547179\nProcessing    18.954188\nPending       16.271394\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'Ratings':\nRatings\n4.0    32.490243\n2.0    20.764944\n5.0    16.616527\n3.0    15.782603\n1.0    14.345683\nName: proportion, dtype: float64\n--------------------------------------------------\nPercentage of unique values in 'products':\nproducts\nSpring water       0.830436\nBottled water      0.826463\nMystery            0.826463\nArtesian water     0.820503\nDistilled water    0.819509\n                     ...   \nScrewdriver set    0.185093\nTowel rack         0.184762\nRazer Blade        0.184100\nParka              0.181782\nPackage AC         0.073839\nName: proportion, Length: 318, dtype: float64\n--------------------------------------------------"

MARK DOWN FOR DROPPING NANS, EXLAIN WHY RATHER THAN FORWARD FILLIGNG

In [33]:
# Drop all rows with NaN values
data = data.dropna()
# Show the first few rows of the cleaned data
data.head()
print ("NUm remaining", len(data))

NUm remaining 293911

# MARK DOWN FOR FEATURE ENGINEERING FEATURE WE WANT TO PREDICT

In [34]:
# Add new features supposed from discord

item_to_category = {
    'Water': 'Drink',
    'Juice': 'Drink',
    'Soft Drink': 'Drink',
    'Coffee': 'Drink',
    'Chocolate': 'Food',
    'Snacks': 'Food',
    'Non-Fiction': 'Media',
    'Fiction': 'Media',
    'Thriller': 'Media',
    'Literature': 'Media',
    'Television': 'Media',
    'Mitsubishi AC': 'HVAC',
    'BlueStar AC': 'HVAC',
    'Fridge': 'Kitchen Equipment',
    'Kitchen': 'Kitchen Equipment',
    'T-Shirt': 'Upper Body Clothing',
    'Shirt': 'Upper Body Clothing',
    'Dress': 'Upper Body Clothing',
    'Jacket': 'Upper Body Clothing',
    'Shoes': 'Lower Body Clothing',
    'Jeans': 'Lower Body Clothing',
    'Shorts': 'Lower Body Clothing',
    'Decorations': 'Home Decor',
    'Furniture': 'Home Decor',
    'Lighting': 'Home Decor',
    'Bathroom': 'Home Decor',
    'Bedding': 'Home Decor',
    'Smartphone': 'Electronics',
    'Tablet': 'Electronics',
    'Headphones': 'Electronics',
    'Laptop': 'Electronics',
    'Children\'s': 'Children\'s',
    'Tools': 'Tools'
}

# Product_subcategory

# Update records with new sub_category column
data['Product_Subcategory'] = data['Product_Type'].map(item_to_category)
last_8_columns = data.iloc[:, -8:]  # Select the last 8 columns
print(last_8_columns.head(5))  # Display the first 5 rows

data = data.drop(columns=['Product_Type'])

# ARTEAGA, FEATURE ENGINEER THAT THING WITH THE DATE AND NORMALIZE IT (FOcus only on Day and Month s.t Jan 1 is 1 and Dec 31 is 365)

print(data.columns)

  Product_Type   Feedback Shipping_Method Payment_Method Order_Status  \
0       Shorts  Excellent        Same-Day     Debit Card      Shipped
1       Tablet  Excellent        Standard    Credit Card   Processing
2   Children's    Average        Same-Day    Credit Card   Processing
3        Tools  Excellent        Standard         PayPal   Processing
4    Chocolate        Bad        Standard           Cash      Shipped

   Ratings           products  Product_Subcategory
0      5.0     Cycling shorts  Lower Body Clothing
1      4.0         Lenovo Tab          Electronics
2      2.0   Sports equipment           Children's
3      4.0      Utility knife                Tools
4      1.0  Chocolate cookies                 Food
Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Feedback', 'Shipping_Method', 'Payment_Method', 'Order_Status',
       'Ratings', 'products', 'Product_Subcategory'],
      dtype='object')

In [ ]:
# MARK DOWN FOR OBVIOUS DROPS

In [37]:
data = data.drop(columns=['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address'])
data.head()

,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,...,Total_Amount,Product_Category,Product_Brand,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products,Product_Subcategory
0,Dortmund,Berlin,77985.0,Germany,21.0,Male,Low,Regular,9/18/2023,2023.0,...,324.086270,Clothing,Nike,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts,Lower Body Clothing
1,Nottingham,England,99071.0,UK,19.0,Female,Low,Premium,12/31/2023,2023.0,...,806.707815,Electronics,Samsung,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab,Electronics
2,Geelong,New South Wales,75929.0,Australia,48.0,Male,Low,Regular,4/26/2023,2023.0,...,1063.432799,Books,Penguin Books,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment,Children's
3,Edmonton,Ontario,88420.0,Canada,56.0,Male,High,Premium,05-08-23,2023.0,...,2466.854021,Home Decor,Home Depot,Excellent,Standard,PayPal,Processing,4.0,Utility knife,Tools
4,Bristol,England,48704.0,UK,22.0,Male,Low,Premium,01-10-24,2024.0,...,248.553049,Grocery,Nestle,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies,Food


# MARK DOWN FOR GRAPHS

In [41]:
# GRAPH EVERY RELATION BETWEEN EVERY COLUMN TO PRODUCT SUB CATEGORY

# Make a cluster heatmap between every column and product subcategory
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.cluster.hierarchy import linkage, dendrogram
from sklearn.preprocessing import StandardScaler

features = data.drop(columns=['Product_Subcategory'])

# Standardize features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)
scaled_df = pd.DataFrame(scaled_features, columns=features.columns)

# Create a clustermap
# sns.clustermap(scaled_df.T.corr(), cmap='coolwarm')
sns.clustermap(
    scaled_df, 
    cmap="viridis",  # Colormap
    metric="euclidean",  # Distance metric
    method="ward",  # Linkage method
    figsize=(10, 8),
    standard_scale=1  # Normalize by column
)
plt.show()

ValueError: could not convert string to float: 'Dortmund'

In [44]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import pairwise_distances
import seaborn as sns

df = pd.DataFrame(data)

# Encode categorical features
encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(df.drop(columns=['Product_Subcategory'])).toarray()

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out())

# Calculate distance matrix (Hamming distance)
distance_matrix = pairwise_distances(encoded_df, metric='hamming')

# Use Seaborn to create the cluster heatmap
sns.clustermap(
    distance_matrix, 
    cmap='coolwarm',  # Choose a colormap
    method='average',  # Clustering method
    metric='precomputed',  # Use precomputed distance matrix
    figsize=(8, 6)
)

plt.title("Cluster Heatmap for Categorical Data")
plt.show()

MemoryError: Unable to allocate 1.63 TiB for an array with shape (293911, 761249) and data type float64

# MARK DOWN FOR DROPPING ATTRIBUTES, JUSTIFY WHY

In [ ]:
data = data.drop(columns=['City', 'State', 'Zipcode', 'Country', 'Order_Status', 'Payment_Method', 'products', 'Year', 'Month', 'Time'])
data.columns

# MARK DOWN FOR ONE HOT ENCODING

In [ ]:
# One hot encoding for Categorical Data
data_encoded = pd.get_dummies(data, columns=['Gender', 'Feedback', 'Product_Subcategory', 'Income', 'Product_Category', 'Product_Brand', 'Customer_Segment', 'Shipping_Method'], drop_first=True)
data_encoded.head()

,Age,Total_Purchases,Amount,Total_Amount,Ratings,Gender_Male,Feedback_Bad,Feedback_Excellent,Feedback_Good,Product_Subcategory_Drink,...,Product_Brand_Pepsi,Product_Brand_Random House,Product_Brand_Samsung,Product_Brand_Sony,Product_Brand_Whirepool,Product_Brand_Zara,Customer_Segment_Premium,Customer_Segment_Regular,Shipping_Method_Same-Day,Shipping_Method_Standard
0,21.0,3.0,108.028757,324.086270,5.0,True,False,True,False,False,...,False,False,False,False,False,False,False,True,True,False
1,19.0,2.0,403.353907,806.707815,4.0,False,False,True,False,False,...,False,False,True,False,False,False,True,False,False,True
2,48.0,3.0,354.477600,1063.432799,2.0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
3,56.0,7.0,352.407717,2466.854021,4.0,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True
4,22.0,2.0,124.276524,248.553049,1.0,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True

# MARK DOWN FOR NORMALIZING

In [ ]:
# NORMALIZE
from sklearn.preprocessing import StandardScaler
data_normalized = data_encoded.copy()
scaler = StandardScaler()
data_normalized[data_normalized.columns] = scaler.fit_transform(data_normalized[data_normalized.columns])
data_normalized.head()

,Age,Total_Purchases,Amount,Total_Amount,Ratings,Gender_Male,Feedback_Bad,Feedback_Excellent,Feedback_Good,Product_Subcategory_Drink,...,Product_Brand_Pepsi,Product_Brand_Random House,Product_Brand_Samsung,Product_Brand_Sony,Product_Brand_Whirepool,Product_Brand_Zara,Customer_Segment_Premium,Customer_Segment_Regular,Shipping_Method_Same-Day,Shipping_Method_Standard
0,-0.963557,-0.822643,-1.040313,-0.924335,1.391214,0.779957,-0.409342,1.413100,-0.67843,-0.471463,...,-0.334225,-0.252906,-0.254408,-0.254311,-0.159349,-0.254617,-0.520476,1.031396,1.377106,-0.679072
1,-1.096704,-1.171239,1.048523,-0.496771,0.634115,-1.282122,-0.409342,1.413100,-0.67843,-0.471463,...,-0.334225,-0.252906,3.930694,-0.254311,-0.159349,-0.254617,1.921319,-0.969560,-0.726161,1.472599
2,0.833929,-0.822643,0.702821,-0.269333,-0.880084,0.779957,-0.409342,-0.707664,-0.67843,-0.471463,...,-0.334225,-0.252906,-0.254408,-0.254311,-0.159349,-0.254617,-0.520476,1.031396,1.377106,-0.679072
3,1.366517,0.571744,0.688181,0.973987,0.634115,0.779957,-0.409342,1.413100,-0.67843,-0.471463,...,-0.334225,-0.252906,-0.254408,-0.254311,-0.159349,-0.254617,1.921319,-0.969560,-0.726161,1.472599
4,-0.896983,-1.171239,-0.925392,-0.991252,-1.637183,0.779957,2.442942,-0.707664,-0.67843,-0.471463,...,-0.334225,-0.252906,-0.254408,-0.254311,-0.159349,-0.254617,1.921319,-0.969560,-0.726161,1.472599

In [ ]:
# MOVE HERE THE GRAPHS AND THE JUSTIFICATION FOR DROPPING STUFF

In [ ]:
# HRAPHS FOR PREDICTION, BEFORE DROPPING

# MAKR DOWN FOR METHODOLOGY

In [ ]:
# Model, LETS DO EVERY METHOD : SVM, Decision Tree, KNN, Neural Nets, Naive Bayes, Basically Ensemble Methods

# Make a decision tree model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Split the data into training and test sets
training_data, test_data = train_test_split(data_normalized, test_size=0.2, random_state=42)

# Split the training and test data into features and target
X_train = training_data.drop(columns=['Product_Subcategory'])
y_train = training_data['Product_Subcategory']
X_test = test_data.drop(columns=['Product_Subcategory'])
y_test = test_data['Product_Subcategory']

# Create a decision tree classifier
tree = DecisionTreeClassifier(random_state=42)

# Train the model
tree.fit(X_train, y_train)

# Make predictions
train_predictions = tree.predict(X_train)
test_predictions = tree.predict(X_test)

# Calculate the accuracy
train_accuracy = accuracy_score(y_train, train_predictions)
test_accuracy = accuracy_score(y_test, test_predictions)

print(f"Train accuracy: {train_accuracy:.2f}")
print(f"Test accuracy: {test_accuracy:.2f}")

# Make a confusion matrix
from sklearn.metrics import confusion_matrix

# Get the confusion matrix
conf_matrix = confusion_matrix(y_test, test_predictions)

# Display the confusion matrix
print("Confusion matrix:")
print(conf_matrix)

: