Markdown for importsMarkdown for imports

In [90]:
# Retail Transaction Product Category Classification

### Imports

import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [18]:
data = pd.read_csv('retail_data.csv')

In [19]:
print (data.head())
print (data.columns)
print (data['Date'])

   Transaction_ID  Customer_ID  ... Ratings           products
0       8691788.0      37249.0  ...     5.0     Cycling shorts
1       2174773.0      69749.0  ...     4.0         Lenovo Tab
2       6679610.0      30192.0  ...     2.0   Sports equipment
3       7232460.0      62101.0  ...     4.0      Utility knife
4       4983775.0      27901.0  ...     1.0  Chocolate cookies

[5 rows x 30 columns]
Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='object')
0          9/18/2023
1         12/31/2023
2          4/26/2023
3           05-08-23
4           01-10-24
             ...
302005     1/20/2024
302006    12/28/2023
302007     2/27/2024
302008      09-03-23
302009      01-08-24
Name: Date, Length: 302010, dtype: object
      dtype='object')
0          9/18/2023
1         12/31/2023
2          4/26/2023
3           05-08-23
4           01-10-24
             ...
302005     1/20/2024
302006    12/28/2023
302007     2/27/2024
302008      09-03-23
302009      01-08-24
Name: Date, Length: 302010, dtype: object

## Data Cleaning

Remove unnecessary columns with specific user_transaction information such as Name, Email, Phone, etc. Similarly, remove the redundant columns: Year and Month as they are already represented in 'Date'.

In [20]:
data = data.drop(columns=['City', 'State', 'Zipcode', 'Country', 'Transaction_ID', 'Customer_ID', 'Address', 'Name', 'Email', 'Phone', 'Order_Status', 'Payment_Method', 'products', 'Year', 'Month', 'Time'])

### Data Exploration

In [21]:
unique_counts = data.nunique()

print("Number of unique values per attribute")
print(unique_counts)

Number of unique values per attribute
Age                     53
Gender                   2
Income                   3
Customer_Segment         3
Date                   366
Total_Purchases         10
Amount              299297
Total_Amount        299305
Product_Category         5
Product_Brand           18
Product_Type            33
Feedback                 4
Shipping_Method          3
Payment_Method           4
Order_Status             4
Ratings                  5
products               318
dtype: int64

In [22]:

for column in data.columns:
    unique_values = data[column].unique()
    
    print(f"Unique values in '{column}':")
    print(unique_values)
    print("-" * 50)

Unique values in 'Transaction_ID':
[8691788. 2174773. 6679610. ... 7157113. 4733214. 8201755.]
--------------------------------------------------
Unique values in 'Customer_ID':
[37249. 69749. 30192. ... 49840. 58286. 29845.]
--------------------------------------------------
Unique values in 'Name':
['Michelle Harrington' 'Kelsey Hill' 'Scott Jensen' ...
 'Caroline Anderson' 'Darlene Gomez' 'Kayla Stanley']
--------------------------------------------------
Unique values in 'Email':
['Ebony39@gmail.com' 'Mark36@gmail.com' 'Shane85@gmail.com' ...
 'Isaiah45@gmail.com' 'Karl9@gmail.com' 'Madeline91@gmail.com']
--------------------------------------------------
Unique values in 'Phone':
[1.41478680e+09 6.85289999e+09 8.36216045e+09 ... 1.11492579e+09
 5.69519790e+09 5.92317182e+09]
--------------------------------------------------
Unique values in 'Address':
['3959 Amanda Burgs' '82072 Dawn Centers' '4133 Young Canyon' ...
 '572 Wagner Forge' '197 Donna Lodge Apt. 673' '6026 Quinn Row Suite 313']
--------------------------------------------------
Unique values in 'City':
['Dortmund' 'Nottingham' 'Geelong' 'Edmonton' 'Bristol' 'Brisbane'
 'Kitchener' 'Munich' 'Wollongong' 'Cologne' 'Portsmouth' 'San Jose'
 'Hamilton' 'Manchester' 'Cardiff' 'Glasgow' 'Hull' 'Cleveland'
 'Southampton' 'Leipzig' 'Cairns' 'London' 'Bielefeld' 'Düsseldorf'
 'Philadelphia' 'Halifax' 'Montreal' 'Mackay' 'Quebec City' 'Barrie'
 'Adelaide' 'Leeds' 'Plymouth' 'Perth' 'Sheffield' 'Frankfurt' 'Toronto'
 'Essen' 'Kelowna' 'Birmingham' 'Ottawa' 'Liverpool' "St. John's" 'Hobart'
 'Atlanta' 'New Orleans' 'Wichita' 'Albury-Wodonga' 'Winnipeg' 'Vancouver'
 'Hamburg' 'Windsor' 'Calgary' 'Newcastle upon Tyne' 'Townsville' 'Oshawa'
 'Houston' 'Berlin' 'Seattle' 'Charlotte' 'New York' 'Milwaukee'
 'Edinburgh' 'Launceston' 'Bochum' 'Münster' 'Bonn' 'Columbus' 'Melbourne'
 'Leicester' 'Fort Worth' 'Toowoomba' 'Victoria' 'Oxford' 'Canberra'
 'Saskatoon' 'Memphis' 'Regina' 'Hanover' 'Long Beach' 'San Francisco'
 'Nuremberg' 'Minneapolis' 'Colorado Springs' 'Duisburg' 'Denver'
 'Bendigo' 'Bremen' 'Boston' 'Tucson' 'Tulsa' 'Portland' 'Kansas City'
 'Brighton' 'Sydney' 'Darwin' 'Nashville' 'Belfast' 'Baltimore'
 'Virginia Beach' 'Arlington' 'Louisville' 'Mesa' 'Las Vegas' 'Dallas'
 'Washington' 'Gold Coast' 'Miami' 'Newcastle' 'San Antonio' 'Fresno'
 'Phoenix' 'Austin' 'Stuttgart' 'Chicago' 'Wuppertal' 'Jacksonville'
 'Ballarat' 'Omaha' 'Oklahoma City' 'San Diego' 'Sacramento' 'Dresden'
 'Raleigh' 'Oakland' 'Indianapolis' 'Detroit' 'Los Angeles' 'El Paso' nan
 'Albuquerque']
--------------------------------------------------
Unique values in 'State':
['Berlin' 'England' 'New South Wales' 'Ontario' 'Virginia' 'Nevada'
 'Colorado' 'Arkansas' 'Texas' 'Oklahoma' 'Connecticut' 'Mississippi' nan
 'Wisconsin' 'Oregon' 'Michigan' 'Alaska' 'New Jersey' 'Wyoming' 'Maine'
 'Idaho' 'Alabama' 'New Hampshire' 'Minnesota' 'Delaware' 'South Carolina'
 'Nebraska' 'New Mexico' 'Arizona' 'Indiana' 'Iowa' 'Illinois' 'Ohio'
 'Georgia' 'New York' 'Pennsylvania' 'Massachusetts' 'Rhode Island'
 'Montana' 'Missouri' 'West Virginia' 'Louisiana' 'Kansas' 'Kentucky'
 'Washington' 'South Dakota' 'California' 'Utah' 'Hawaii' 'North Carolina'
 'Tennessee' 'Maryland' 'Vermont' 'North Dakota' 'Florida']
--------------------------------------------------
Unique values in 'Zipcode':
[77985. 99071. 75929. ... 72352. 35800. 23572.]
--------------------------------------------------
Unique values in 'Country':
['Germany' 'UK' 'Australia' 'Canada' 'USA' nan]
--------------------------------------------------
Unique values in 'Age':
[21. 19. 48. 56. 22. 58. 29. 46. 25. 64. 31. 53. 32. 43. 69. 49. 61. 41.
 38. 59. 20. 67. 50. 26. 66. 24. 54. 28. 34. 65. 40. 68. 36. 57. 27. 35.
 70. 37. 30. 39. 47. 18. 60. 33. 62. 42. 44. 51. 63. 55. 23. 52. nan 45.]
--------------------------------------------------
Unique values in 'Gender':
['Male' 'Female' nan]
--------------------------------------------------
Unique values in 'Income':
['Low' 'High' 'Medium' nan]
--------------------------------------------------
Unique values in 'Customer_Segment':
['Regular' 'Premium' 'New' nan]
--------------------------------------------------
Unique values in 'Date':
['9/18/2023' '12/31/2023' '4/26/2023' '05-08-23' '01-10-24' '9/21/2023'
 '6/26/2023' '3/24/2023' '01-06-24' '10-04-23' '7/20/2023' '6/21/2023'
 '01-02-24' '05-07-23' '11/18/2023' '6/15/2023' '07-01-23' '4/14/2023'
 '02-07-24' '10/24/2023' '3/21/2023' '08-06-23' '02-03-24' '5/31/2023'
 '2/27/2024' '4/20/2023' '06-03-23' '01-07-24' '4/22/2023' '02-06-24'
 '11/26/2023' '5/22/2023' '6/29/2023' '12/16/2023' '04-10-23' '12-12-23'
 '2/16/2024' '02-08-24' '10/29/2023' '2/21/2024' '3/17/2023' '10-06-23'
 '11-05-23' '12/14/2023' '6/19/2023' '3/16/2023' '7/16/2023' '4/19/2023'
 '09-10-23' '3/15/2023' '11-11-23' '7/25/2023' '10-03-23' '10/17/2023'
 '6/27/2023' '2/18/2024' '2/22/2024' '10-08-23' '10-11-23' '9/17/2023'
 '11-04-23' '6/20/2023' '8/31/2023' '2/20/2024' '03-12-23' '7/23/2023'
 '05-06-23' '11/14/2023' '06-06-23' '3/23/2023' '04-08-23' '11/23/2023'
 '8/18/2023' '10/30/2023' '03-04-23' '1/13/2024' '7/22/2023' '7/19/2023'
 '03-02-23' '12-06-23' '11/13/2023' '09-03-23' '11-01-23' '04-04-23'
 '3/22/2023' '12-07-23' '1/26/2024' '6/28/2023' '03-05-23' '12/21/2023'
 '8/25/2023' '03-08-23' '5/16/2023' '11-08-23' '12/17/2023' '11/16/2023'
 '07-03-23' '1/25/2024' '07-10-23' '8/30/2023' '6/24/2023' '1/14/2024'
 '02-05-24' '12/20/2023' '8/23/2023' '02-02-24' '2/23/2024' '1/17/2024'
 '09-05-23' '3/19/2023' '12/15/2023' '09-08-23' '09-11-23' '11/15/2023'
 '12/19/2023' '3/13/2023' '11/28/2023' '12-02-23' '9/14/2023' '7/15/2023'
 '01-08-24' '09-01-23' '3/28/2023' '2/26/2024' '8/24/2023' '09-12-23'
 '12/13/2023' '08-07-23' '06-10-23' '05-05-23' '09-06-23' '1/29/2024'
 '10/14/2023' '5/30/2023' '8/14/2023' '5/17/2023' '3/27/2023' '7/13/2023'
 '2/25/2024' '06-02-23' '01-12-24' '2/17/2024' '5/14/2023' '11/25/2023'
 '9/23/2023' '07-08-23' '06-12-23' '12/28/2023' '6/23/2023' '02-10-24'
 '5/25/2023' '04-01-23' '10/27/2023' '10-05-23' '04-03-23' '12/29/2023'
 '7/29/2023' '01-11-24' '8/27/2023' '2/24/2024' '08-04-23' '11/30/2023'
 '12/27/2023' '6/17/2023' '2/29/2024' '3/14/2023' '9/15/2023' '8/28/2023'
 '08-01-23' '12/23/2023' '12-03-23' '9/20/2023' '5/26/2023' '11/22/2023'
 '08-12-23' '08-05-23' '8/15/2023' '12/18/2023' '05-04-23' '07-02-23'
 '8/29/2023' '12/30/2023' '10/26/2023' '01-09-24' '07-11-23' '4/18/2023'
 '4/25/2023' '12-11-23' '08-09-23' '09-09-23' '10/13/2023' '9/30/2023'
 '2/19/2024' '5/19/2023' '7/28/2023' '02-12-24' '06-09-23' '11/19/2023'
 '3/26/2023' '2/15/2024' '09-02-23' '08-02-23' '03-03-23' '8/13/2023'
 '03-11-23' '12-08-23' '3/30/2023' '05-10-23' '09-07-23' '06-04-23'
 '7/17/2023' '1/31/2024' '11-09-23' '7/18/2023' '1/20/2024' '11-06-23'
 '12-05-23' '10/18/2023' '5/15/2023' '2/28/2024' '10/31/2023' '10-02-23'
 '3/29/2023' '3/18/2023' '4/29/2023' '9/24/2023' '4/27/2023' '5/13/2023'
 '4/23/2023' '10/20/2023' '03-10-23' '11/27/2023' '4/16/2023' '08-10-23'
 '1/30/2024' '6/22/2023' '9/13/2023' '01-03-24' '08-11-23' '12/26/2023'
 '12-04-23' '9/22/2023' '6/18/2023' '5/28/2023' '11-07-23' '04-06-23'
 '05-09-23' '02-01-24' '05-03-23' '02-09-24' '04-11-23' '5/18/2023'
 '9/25/2023' '5/23/2023' '7/31/2023' '10/25/2023' '07-09-23' '02-11-24'
 '11/20/2023' '07-12-23' '1/21/2024' '06-07-23' '11/17/2023' '02-04-24'
 '7/14/2023' '9/27/2023' '3/20/2023' '6/13/2023' '04-07-23' '10/21/2023'
 '01-05-24' '12-10-23' '05-12-23' '1/15/2024' '10-10-23' '03-07-23'
 '09-04-23' '5/24/2023' '8/19/2023' '5/20/2023' '07-04-23' '5/29/2023'
 '08-03-23' '10-07-23' '5/21/2023' '1/19/2024' '6/16/2023' '12/25/2023'
 '06-08-23' '8/16/2023' '9/28/2023' '1/16/2024' '1/28/2024' '10/22/2023'
 '7/26/2023' '07-05-23' '4/21/2023' '10/19/2023' '1/18/2024' '03-01-23'
 '12/24/2023' '04-12-23' '6/30/2023' '10-12-23' '10-01-23' '7/21/2023'
 '11/29/2023' '01-04-24' '4/15/2023' '3/25/2023' '04-05-23' '01-01-24'
 '12-09-23' '2/13/2024' '04-09-23' '03-06-23' '04-02-23' '10-09-23'
 '05-02-23' '4/24/2023' '8/26/2023' '6/14/2023' '11-02-23' '9/26/2023'
 '11-12-23' '06-11-23' '05-01-23' '4/30/2023' '8/22/2023' '10/28/2023'
 '9/19/2023' '4/13/2023' '7/30/2023' '8/17/2023' '07-06-23' '1/22/2024'
 '06-01-23' '08-08-23' '9/29/2023' '12/22/2023' '10/16/2023' '05-11-23'
 '11/24/2023' '9/16/2023' '11/21/2023' '11-03-23' '4/17/2023' '2/14/2024'
 '10/15/2023' '06-05-23' '1/27/2024' '7/27/2023' '6/25/2023' '12-01-23'
 '5/27/2023' '4/28/2023' '8/20/2023' '1/23/2024' '7/24/2023' '07-07-23'
 '10/23/2023' '03-09-23' '11-10-23' '8/21/2023' '3/31/2023' '1/24/2024'
 nan]
--------------------------------------------------
Unique values in 'Total_Purchases':
[ 3.  2.  7.  4.  1.  8. 10.  9.  6.  5. nan]
--------------------------------------------------
Unique values in 'Amount':
[108.0287567 403.3539073 354.4775997 ... 193.5494867 415.4162595
 493.6032674]
--------------------------------------------------
Unique values in 'Total_Amount':
[ 324.08627    806.7078147 1063.432799  ...  193.5494867 4154.162595
 2468.016337 ]
--------------------------------------------------
Unique values in 'Product_Category':
['Clothing' 'Electronics' 'Books' 'Home Decor' 'Grocery' nan]
--------------------------------------------------
Unique values in 'Product_Brand':
['Nike' 'Samsung' 'Penguin Books' 'Home Depot' 'Nestle' 'Apple' 'Zara'
 'Random House' 'Coca-Cola' 'Adidas' 'Pepsi' 'IKEA' 'HarperCollins'
 'Bed Bath & Beyond' 'Sony' nan 'Whirepool' 'Mitsubhisi' 'BlueStar']
--------------------------------------------------
Unique values in 'Product_Type':
['Shorts' 'Tablet' "Children's" 'Tools' 'Chocolate' 'Television' 'Shirt'
 'Decorations' 'Non-Fiction' 'Water' 'Snacks' 'T-shirt' 'Literature'
 'Juice' 'Furniture' 'Coffee' 'Bathroom' 'Kitchen' 'Smartphone' 'Shoes'
 'Thriller' 'Soft Drink' 'Laptop' 'Dress' 'Headphones' 'Lighting'
 'Bedding' 'Jacket' 'Fiction' 'Jeans' 'Fridge'
 'Mitsubishi 1.5 Ton 3 Star Split AC' 'BlueStar AC']
--------------------------------------------------
Unique values in 'Feedback':
['Excellent' 'Average' 'Bad' 'Good' nan]
--------------------------------------------------
Unique values in 'Shipping_Method':
['Same-Day' 'Standard' 'Express' nan]
--------------------------------------------------
Unique values in 'Payment_Method':
['Debit Card' 'Credit Card' 'PayPal' 'Cash' nan]
--------------------------------------------------
Unique values in 'Order_Status':
['Shipped' 'Processing' 'Pending' 'Delivered' nan]
--------------------------------------------------
Unique values in 'Ratings':
[ 5.  4.  2.  1.  3. nan]
--------------------------------------------------
Unique values in 'products':
['Cycling shorts' 'Lenovo Tab' 'Sports equipment' 'Utility knife'
 'Chocolate cookies' 'QLED TV' 'Dress shirt' 'Dark chocolate' 'Candles'
 'Screwdriver set' 'Science' 'Bottled water' 'Fruit snacks' 'V-neck tee'
 'Drama' 'Flavored water' 'Samsung Galaxy Tab' 'Orange juice' 'Bookshelf'
 'Affogato' 'Business' 'Self-help' 'Sink' 'Grape juice' 'Stove' 'Huawei P'
 'Amazon Fire Tablet' 'Curtains' 'Pomegranate juice' 'Running shoes'
 'Political thriller' 'Google Pixel' 'Chocolate mousse' 'Vases'
 'Henley shirt' 'Toys' 'Iced tea' 'Apple juice' 'Microsoft Surface Laptop'
 'Desk' 'Bodycon dress' 'Sports headphones' 'Pendant lights' 'Clocks'
 'Comforter' 'Peacoat' 'Bed' 'White chocolate' 'Android TV'
 'Studio headphones' 'Sneakers' 'Sculptures' 'Cream soda' 'History'
 'Pliers' 'Oxfords' 'Short stories' 'Dining table' 'Cooking' 'Wall art'
 'Memoir' 'Maxi dress' 'LG Gram' 'Dishwasher' 'Cranberry juice' 'Crime'
 'Pillowcase set' 'Shower curtain' 'Samsung Galaxy' 'Curved TV'
 'DJ headphones' 'Button-down shirt' 'Purified water' 'Puffer jacket'
 'Fantasy' 'Adventure' 'Popcorn' 'Nuts' 'Detective' 'iPhone' 'LG G'
 'Chocolate-covered fruits' 'Chino shorts' 'Distilled water'
 'Literary fiction' 'Grape soda' 'T-shirt' 'Cheese snacks' 'Towel rack'
 'Blanket' 'Coffee table' 'OLED TV' 'Pineapple juice' 'HDR TV' 'Travel'
 'Crew neck tee' 'Grapefruit juice' 'Xiaomi Mi' 'Root beer'
 'Track lighting' 'Razer Blade' 'Samsung Notebook' 'Milk chocolate'
 'Varsity jacket' 'Decorative pillows' 'Crop top' 'Clothing'
 'Lemon-lime soda' 'Dresser' 'Ceiling lights' 'Loafers' 'LCD TV' 'Bathtub'
 'Dystopian' 'Bed sheet set' 'Sheath dress' 'Over-ear headphones'
 'Electric kettle' 'Mirror' 'Puzzles' 'Polo shirt' 'On-ear headphones'
 'Horror' 'Art supplies' 'Bootcut jeans' 'Sofa' 'Sparkling water'
 'Cargo shorts' 'Microsoft Surface' 'Chocolate bars' 'Essays' 'Tank top'
 'Food processor' 'Mirrors' 'Health' 'iPad' 'Energy drink'
 'Bermuda shorts' 'A-line dress' 'Asus ZenPad' 'Scoop neck tee' 'Action'
 'Henley tee' 'Spring water' 'High heels' 'Cola' 'Nokia' 'Wardrobe'
 'Drill' 'Blender' 'Alkaline water' 'Picture frames' 'Shift dress'
 'Espadrilles' 'Psychology' 'Blazer' 'Refrigerator' 'Truffles'
 'Cropped jeans' 'TV stand' 'Off-the-shoulder tee' 'Plasma TV' 'Americano'
 'Khaki shorts' 'Saw' 'Contemporary literature' 'Coffee maker' 'Smart TV'
 'Denim jacket' 'Raglan tee' 'Huawei MediaPad' 'Nightstand' 'Romance'
 'Sandals' 'Anthologies' 'Mattress topper' 'Acer Iconia Tab'
 'Caulking gun' 'Psychological thriller' 'Mineral water' 'Acer Swift'
 'Throw pillow' 'Long-sleeve tee' 'Games' 'Ginger ale' 'Motorola Moto'
 'Straight-leg jeans' 'Skorts' 'Denim shorts' 'Sony Xperia Tablet'
 'Board shorts' 'Table lamps' 'Rugs' 'LED TV' 'Fruit punch' 'Hammer'
 'Bomber jacket' 'Plain tee' 'Boots' 'Duvet cover' 'Lenovo ThinkPad'
 'Chocolate-covered nuts' 'Graphic tee' 'Wall sconces' 'Sweatshirt'
 'Instant coffee' 'Mixed fruit juice' 'Google Pixel Slate'
 'Distressed jeans' 'Desk lamps' 'Mango juice' 'Thriller'
 'Under cabinet lighting' 'Historical fiction' 'Soap dispenser' 'Latte'
 'Tomato juice' 'Artesian water' 'Pretzels' 'Athletic shorts'
 'Asus ZenBook' 'OnePlus' 'High-waisted jeans' 'Cappuccino' 'Plush toys'
 'Slippers' 'Quilt' 'Sony Xperia' 'Techno-thriller' 'Microwave'
 'Coconut water' 'Flare jeans' 'Building blocks' 'Wireless headphones'
 'Science fiction' '4K TV' 'Ground coffee' 'Beef jerky' 'Chocolate fondue'
 'Flip flops' 'Toilet' 'Books' 'MacBook' 'Flannel shirt' 'Mystery'
 'Wrench' 'Biography' 'Hoodie' 'Espresso' 'Orange soda' 'Casual dress'
 'Floor lamps' 'Wide-leg jeans' 'Bluetooth headphones' 'Mocha'
 'Dust ruffle' 'Wrap dress' 'Gaming headphones'
 'Noise-cancelling headphones' 'Suspense' 'Blouse' 'Oven'
 'Toilet paper holder' 'Skinny jeans' 'Fit and flare dress'
 'Educational kits' 'Toaster' 'Toothbrush holder' 'Parka' 'Chips'
 'Coffee beans' 'HP Spectre' 'Macchiato' 'Level' 'Recessed lighting'
 'Granola bars' 'Windbreaker' 'Trail mix' 'Boyfriend jeans' 'Trench coat'
 'Non-fiction literature' 'Leather jacket' 'Crackers' 'Modern literature'
 'Swim trunks' 'Dell XPS' 'In-ear headphones' 'Cocktail dress'
 'Tape measure' 'Poetry' 'Low-rise jeans' 'Chandeliers' 'Bed skirt'
 'Legal thriller' 'Classic literature' 'Shower' 'Sundress' 'Mini fridge'
 'Counter-depth refrigerator' 'Smart refrigerator'
 'Stainless steel refrigerator' 'Top-freezer refrigerator'
 'French door refrigerator' 'Side-by-side refrigerator'
 'Compact refrigerator' 'Black refrigerator' 'Bottom-freezer refrigerator'
 'Central AC' 'Ductless AC' 'Portable AC' 'Air conditioner'
 'Floor-standing AC' 'Split AC' 'Window AC' 'Inverter AC' 'Cassette AC'
 'Mini-split AC' 'Package AC']
--------------------------------------------------

In [23]:
for column in data.columns:
    value_counts = data[column].value_counts(normalize=True) * 100

    print(f"Percentage of unique values in '{column}':")
    print(value_counts)
    print("-" * 50)

Percentage of unique values in 'Transaction_ID':
Transaction_ID
6145934.0    0.001326
3823276.0    0.000994
9918529.0    0.000994
3859425.0    0.000994
7257551.0    0.000994
               ...
4466731.0    0.000331
1234470.0    0.000331
7157113.0    0.000331
4733214.0    0.000331
2174773.0    0.000331
Name: proportion, Length: 294461, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Customer_ID':
Customer_ID
99355.0    0.004309
48453.0    0.004309
90983.0    0.004309
49274.0    0.004309
60341.0    0.004309
             ...
73258.0    0.000331
66041.0    0.000331
78480.0    0.000331
42671.0    0.000331
50893.0    0.000331
Name: proportion, Length: 86766, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Name':
Name
Michael Smith        0.047741
Michael Johnson      0.036800
Michael Jones        0.033816
Christopher Smith    0.030833
Michael Williams     0.030170
                       ...
Zachary Glenn        0.000332
Zachary Burnett      0.000332
Renee Blackwell      0.000332
Joann Rodriguez      0.000332
Devin Brooks         0.000332
Name: proportion, Length: 159390, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Email':
Email
Michael59@gmail.com    0.030829
Michael95@gmail.com    0.030498
Michael17@gmail.com    0.029835
Michael39@gmail.com    0.028840
Michael58@gmail.com    0.027846
                         ...
Warren87@gmail.com     0.000331
Gordon86@gmail.com     0.000331
Eileen96@gmail.com     0.000331
Maurice66@gmail.com    0.000331
Jasmin26@gmail.com     0.000331
Name: proportion, Length: 52897, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Phone':
Phone
6.445576e+09    0.000663
7.811789e+09    0.000663
6.435965e+09    0.000663
4.120365e+09    0.000663
3.917201e+09    0.000663
                  ...
2.921631e+09    0.000332
4.763757e+09    0.000332
1.114926e+09    0.000332
5.695198e+09    0.000332
3.292677e+09    0.000332
Name: proportion, Length: 299295, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Address':
Address
6135 Tiffany Cliff Apt. 861    0.000663
6001 Taylor Unions             0.000663
313 Shane Hollow Apt. 210      0.000663
29041 Beck Junction            0.000663
2537 Collins Vista Apt. 444    0.000663
                                 ...
613 Diaz Flat                  0.000331
5558 Matthew Flats Apt. 496    0.000331
572 Wagner Forge               0.000331
197 Donna Lodge Apt. 673       0.000331
82072 Dawn Centers             0.000331
Name: proportion, Length: 299329, dtype: float64
--------------------------------------------------
Percentage of unique values in 'City':
City
Chicago          7.175191
Portsmouth       6.671151
San Francisco    4.038945
Frankfurt        3.374182
Boston           3.120340
                   ...
Charlotte        0.285656
Arlington        0.283667
Denver           0.283667
Philadelphia     0.278365
San Diego        0.276045
Name: proportion, Length: 130, dtype: float64
--------------------------------------------------
Percentage of unique values in 'State':
State
England            20.899218
Berlin             17.506438
New South Wales    15.019107
Ontario            15.017449
Connecticut         7.177964
Maine               4.041043
Georgia             3.149846
Kansas              1.828131
New Mexico          1.723069
New York            0.330098
Maryland            0.324795
Pennsylvania        0.320155
Texas               0.315846
California          0.315515
Nevada              0.314521
South Carolina      0.313195
Minnesota           0.313195
West Virginia       0.312864
Iowa                0.312864
Ohio                0.311869
Illinois            0.311869
Mississippi         0.310875
Hawaii              0.310212
Louisiana           0.307561
Utah                0.306235
Michigan            0.305904
New Jersey          0.304247
Virginia            0.304247
Alabama             0.301264
Montana             0.300269
Oregon              0.300269
Wyoming             0.300269
South Dakota        0.299607
Delaware            0.299607
Tennessee           0.299275
North Carolina      0.298944
Wisconsin           0.298612
Missouri            0.298612
Florida             0.298612
Nebraska            0.298281
Rhode Island        0.298281
Kentucky            0.297949
Indiana             0.297287
Arkansas            0.296955
New Hampshire       0.296955
Alaska              0.293972
Vermont             0.293641
Colorado            0.292647
North Dakota        0.291984
Washington          0.291321
Idaho               0.290658
Massachusetts       0.288670
Arizona             0.286018
Oklahoma            0.281710
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Zipcode':
Zipcode
68029.0    0.007624
2826.0     0.006630
2891.0     0.006630
68005.0    0.006630
68070.0    0.006630
             ...
99417.0    0.000331
29716.0    0.000331
26064.0    0.000331
41703.0    0.000331
7510.0     0.000331
Name: proportion, Length: 93978, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Country':
Country
USA          31.558068
UK           20.900845
Germany      17.508509
Australia    15.019272
Canada       15.013306
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Age':
Age
20.0    11.488982
46.0    10.190600
26.0     8.173617
22.0     7.627627
34.0     6.842104
23.0     5.974417
19.0     5.581158
21.0     2.668328
24.0     2.050444
55.0     1.812568
48.0     1.526652
70.0     0.905787
43.0     0.892866
59.0     0.890216
36.0     0.888559
68.0     0.884252
33.0     0.883589
64.0     0.876963
44.0     0.875638
56.0     0.872988
30.0     0.870337
65.0     0.870006
60.0     0.868018
62.0     0.867024
47.0     0.864705
40.0     0.863380
41.0     0.859736
25.0     0.859404
50.0     0.859073
35.0     0.857416
52.0     0.857085
28.0     0.856754
58.0     0.855760
39.0     0.855760
69.0     0.855097
38.0     0.854103
42.0     0.854103
57.0     0.853772
61.0     0.853109
63.0     0.852447
37.0     0.852116
27.0     0.851784
49.0     0.851784
67.0     0.845158
51.0     0.844827
45.0     0.844164
53.0     0.843502
29.0     0.841514
32.0     0.838201
54.0     0.833894
18.0     0.821636
66.0     0.819648
31.0     0.817329
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Gender':
Gender
Male      62.182086
Female    37.817914
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Income':
Income
Medium    43.162535
Low       31.904083
High      24.933382
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Customer_Segment':
Customer_Segment
Regular    48.450438
New        30.214881
Premium    21.334681
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Date':
Date
11/22/2023    0.301673
2/22/2024     0.299684
7/30/2023     0.297032
07-01-23      0.297032
12/28/2023    0.296369
                ...
12/27/2023    0.250289
5/24/2023     0.249958
12/21/2023    0.249626
11-02-23      0.248632
12/17/2023    0.240012
Name: proportion, Length: 366, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Purchases':
Total_Purchases
5.0     10.582167
2.0     10.577857
1.0     10.573216
3.0     10.562608
4.0     10.467464
8.0      9.515032
6.0      9.459670
9.0      9.433149
7.0      9.429834
10.0     9.399003
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Amount':
Amount
200.002414    0.000663
259.366968    0.000663
85.341534     0.000663
458.047975    0.000663
407.492765    0.000663
                ...
69.574486     0.000332
94.967786     0.000332
154.290074    0.000332
40.310013     0.000332
493.603267    0.000332
Name: proportion, Length: 299297, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Total_Amount':
Total_Amount
686.016688     0.000663
1376.736659    0.000663
1698.384426    0.000663
2015.016055    0.000663
3369.381664    0.000663
                 ...
1011.611018    0.000331
2987.545467    0.000331
343.745084     0.000331
1209.777395    0.000331
2468.016337    0.000331
Name: proportion, Length: 299305, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Category':
Product_Category
Electronics    23.596165
Grocery        22.134579
Clothing       18.142559
Books          18.103120
Home Decor     18.023578
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Brand':
Product_Brand
Pepsi                10.039473
Coca-Cola             6.095536
Samsung               6.090233
Zara                  6.088245
HarperCollins         6.082611
Sony                  6.071342
Bed Bath & Beyond     6.046485
Adidas                6.044497
Home Depot            6.013675
Nike                  6.011686
Penguin Books         6.011355
Random House          6.006052
Nestle                6.001743
Apple                 5.989812
IKEA                  5.963630
Whirepool             2.467446
Mitsubhisi            2.228490
BlueStar              0.747691
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Product_Type':
Product_Type
Water                                 8.098738
Smartphone                            6.115029
Non-Fiction                           6.017019
Fiction                               5.974968
Juice                                 4.049535
Television                            4.038608
T-shirt                               4.033310
Decorations                           4.032317
Shoes                                 4.019734
Tablet                                4.003510
Soft Drink                            3.985299
Furniture                             3.963114
Fridge                                2.465150
Mitsubishi 1.5 Ton 3 Star Split AC    2.226416
Thriller                              2.073441
Kitchen                               2.062183
Coffee                                2.045628
Children's                            2.035363
Jeans                                 2.031059
Shirt                                 2.030396
Dress                                 2.027416
Shorts                                2.015496
Headphones                            2.013178
Lighting                              2.011523
Literature                            2.003576
Chocolate                             2.003576
Bathroom                              1.995298
Bedding                               1.990331
Jacket                                1.988014
Laptop                                1.980398
Tools                                 1.969471
Snacks                                1.953909
BlueStar AC                           0.746995
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Feedback':
Feedback
Excellent    33.381816
Good         31.507557
Average      20.764944
Bad          14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Shipping_Method':
Shipping_Method
Same-Day    34.526126
Express     33.929453
Standard    31.544421
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Payment_Method':
Payment_Method
Credit Card    29.868120
Debit Card     25.451340
Cash           24.463646
PayPal         20.216895
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Order_Status':
Order_Status
Delivered     43.227239
Shipped       21.547179
Processing    18.954188
Pending       16.271394
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'Ratings':
Ratings
4.0    32.490243
2.0    20.764944
5.0    16.616527
3.0    15.782603
1.0    14.345683
Name: proportion, dtype: float64
--------------------------------------------------
Percentage of unique values in 'products':
products
Spring water       0.830436
Bottled water      0.826463
Mystery            0.826463
Artesian water     0.820503
Distilled water    0.819509
                     ...
Screwdriver set    0.185093
Towel rack         0.184762
Razer Blade        0.184100
Parka              0.181782
Package AC         0.073839
Name: proportion, Length: 318, dtype: float64
--------------------------------------------------

In [24]:
rows_with_nans = data[data.isna().any(axis=1)]

print("Rows with NaN values:")
print(rows_with_nans)
print("NUM ROWS", len(rows_with_nans))

print("NUM RECORDS", len(data))

Rows with NaN values:
         Age  Gender  Income  ... Feedback Shipping_Method  Ratings
109     65.0    Male     Low  ...      NaN        Same-Day      NaN
123     39.0    Male  Medium  ...      NaN        Standard      NaN
142     37.0    Male    High  ...  Average             NaN      2.0
174     50.0    Male    High  ...  Average        Standard      2.0
232      NaN  Female     Low  ...  Average        Same-Day      2.0
...      ...     ...     ...  ...      ...             ...      ...
301515  36.0  Female  Medium  ...      NaN         Express      NaN
301567  37.0    Male     Low  ...      Bad             NaN      1.0
301738  35.0    Male     NaN  ...      Bad        Standard      1.0
301875  44.0    Male    High  ...      Bad        Same-Day      1.0
301883  31.0    Male     NaN  ...     Good        Same-Day      4.0

[3497 rows x 14 columns]
NUM ROWS 3497
NUM RECORDS 302010

In [25]:
data = data.dropna()
data.head()
print("Num Remaining", len(data))

Num Remaining 298513

## Feature Engineering

In [26]:
item_to_category = {
    'Water': 'Drink',
    'Juice': 'Drink',
    'Soft Drink': 'Drink',
    'Coffee': 'Drink',
    'Chocolate': 'Food',
    'Snacks': 'Food',
    'Non-Fiction': 'Media',
    'Fiction': 'Media',
    'Thriller': 'Media',
    'Literature': 'Media',
    'Television': 'Media',
    'Mitsubishi AC': 'HVAC',
    'BlueStar AC': 'HVAC',
    'Fridge': 'Kitchen Equipment',
    'Kitchen': 'Kitchen Equipment',
    'T-Shirt': 'Upper Body Clothing',
    'Shirt': 'Upper Body Clothing',
    'Dress': 'Upper Body Clothing',
    'Jacket': 'Upper Body Clothing',
    'Shoes': 'Lower Body Clothing',
    'Jeans': 'Lower Body Clothing',
    'Shorts': 'Lower Body Clothing',
    'Decorations': 'Home Decor',
    'Furniture': 'Home Decor',
    'Lighting': 'Home Decor',
    'Bathroom': 'Home Decor',
    'Bedding': 'Home Decor',
    'Smartphone': 'Electronics',
    'Tablet': 'Electronics',
    'Headphones': 'Electronics',
    'Laptop': 'Electronics',
    'Children\'s': 'Children\'s',
    'Tools': 'Tools'
}

data['Product_Subcategory'] = data['Product_Type'].map(item_to_category)
last_8_columns = data.iloc[:, -8:]
print(last_8_columns.head())

data = data.drop(columns=['Product_Type'])

   Total_Amount Product_Category  ... Ratings  Product_Subcategory
0    324.086270         Clothing  ...     5.0  Lower Body Clothing
1    806.707815      Electronics  ...     4.0          Electronics
2   1063.432799            Books  ...     2.0           Children's
3   2466.854021       Home Decor  ...     4.0                Tools
4    248.553049          Grocery  ...     1.0                 Food

[5 rows x 8 columns]

Transform the 'Date' column into continuous feature value in column 'day_of_year'. Allows for data normalization and standardization of date format.

In [27]:
data['Date'] = pd.to_datetime(data['Date'], errors='coerce', format=None)
data['day_of_year'] = data['Date'].dt.dayofyear
data = data.drop(columns=['Date'])

### Data Normalization

In [28]:
data_encoded = pd.get_dummies(data, columns=['Gender', 'Feedback', 'Product_Subcategory', 'Income', 'Product_Category', 'Product_Brand', 'Customer_Segment', 'Shipping_Method'], drop_first=True)
data_encoded.head()

    Age  Total_Purchases  ...  Shipping_Method_Same-Day  Shipping_Method_Standard
0  21.0              3.0  ...                      True                     False
1  19.0              2.0  ...                     False                      True
2  48.0              3.0  ...                      True                     False
3  56.0              7.0  ...                     False                      True
4  22.0              2.0  ...                     False                      True

[5 rows x 47 columns]

In [106]:
data_normalized = data_encoded.copy()
scaler = StandardScaler()

data_normalized[data_normalized.columns] = scaler.fit_transform(data_normalized[data_normalized.columns])

data_normalized.head()

        Age  ...  Shipping_Method_Standard
0 -0.963585  ...                 -0.679012
1 -1.096721  ...                  1.472728
2  0.833762  ...                 -0.679012
3  1.366309  ...                  1.472728
4 -0.897016  ...                  1.472728

[5 rows x 47 columns]

In [34]:
traning_data, test_data = train_test_split(data_normalized, test_size=0.2, random_state=42)